// RD Mailform
form.rd-mailform(data-form-output="form-output-global", data-form-type='forms', method='post', action='bat/rd-mailform.php')
  .row
    .col-md-6
      .form-wrap
        label.form-label-outside(for="contact-first-name") First name
        input#contact-first-name.form-input(type="text" name="first-name" data-constraints="@Required")
    .col-md-6.offset-top-18.offset-md-top-0
      .form-wrap
        label.form-label-outside(for="contact-last-name") Last name
        input#contact-last-name.form-input(type="text" name="last-name" data-constraints="@Required")
    .col-md-6.offset-top-18
      .form-wrap
        label.form-label-outside(for="contact-email") E-mail
        input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required")
    .col-md-6.offset-top-18
      .form-wrap
        label.form-label-outside(for="contact-phone") Phone
        input#contact-phone.form-input(type="text" name="phone" data-constraints="@Required @Numeric")
    .col-sm-12.offset-top-18
      .form-wrap
        label.form-label-outside(for="contact-message") Message
        textarea#contact-message.form-input(name="message" data-constraints="@Required")
    .col-sm-12.offset-top-30
      button(type="submit").btn.btn-primary Send Message