// RD Mailform
form.rd-mailform.text-start
  .form-wrap
    label.form-label-outside(for="login-email") E-Mail
    input#login-email.form-input(type="email" name="email" data-constraints="@Email @Required")
  .form-wrap
    label.form-label-outside(for="login-password") Password
    input#login-password.form-input(type="password" name="password" data-constraints="@Required")

  .group.group-middle.offset-top-30.text-center.text-sm-start
    button(type="submit").btn.btn-primary Sign In
    p.d-block.d-sm-inline-block or
    ul.list-inline.list-inline-xxs
      li: a.icon.icon-xs.icon-circle.icon-white.icon-filled-facebook.fa-facebook(href='#')
      li: a.icon.icon-xs.icon-circle.icon-white.icon-filled-twitter.fa-twitter(href='#')
      li: a.icon.icon-xs.icon-circle.icon-white.icon-filled-google.fa-google(href='#')