.row
  .col-xs-6.col-md-3
    // CountTo
    .counter-wrap
      span.icon.icon-lg.icon-gray-600.linecons-like
      .counter-value
        p.h3
          span.counter(data-from='0', data-to='100') 100%
          span.symbol %
      .divider-center.divider-md.divider-primary
      .counter-text
        p.text-style-2 Customer Satisfaction

  .col-xs-6.col-md-3.offset-top-45.offset-xs-top-0
    // CountTo
    .counter-wrap
      span.icon.icon-lg.icon-gray-600.linecons-small58
      .counter-value
        p.h3: span.counter(data-from='0', data-to='10') 10
      .divider-center.divider-md.divider-primary
      .counter-text
        p.text-style-2 Years in the Market

  .col-xs-6.col-md-3.offset-top-45.offset-md-top-0
    // CountTo
    .counter-wrap
      span.icon.icon-lg.icon-gray-600.linecons-user12
      .counter-value
        p.h3
          span.counter(data-from='0', data-to='2954') 2 954
      .divider-center.divider-md.divider-primary
      .counter-text
        p.text-style-2 Happy Clients

  .col-xs-6.col-md-3.offset-top-45.offset-md-top-0
    // CountTo
    .counter-wrap
      span.icon.icon-lg-variant-1.icon-gray-600.linecons-tv1
      .counter-value
        p.h3
          span.counter(data-from='0', data-to='3597') 3 597
      .divider-center.divider-md.divider-primary
      .counter-text
        p.text-style-2 Projects Completed