footer.page-foot
  .container.text-center
    p.rights
      | &#169;&nbsp;
      span(class='copyright-year')
      | &nbsp;All Rights Reserved&nbsp;
      a(href='privacy-policy.html') Privacy Policy