footer.page-foot.bg-gray-dark
  .container.text-center.text-md-start
    .row.justify-content-md-center
      .col-md-10.col-lg-12
        .row.justify-content-lg-between
          .col-md-6.col-lg-3.wrap-lg-justify-vertical
            +logo
            .offset-top-30.offset-sm-top-65
              ul.list-inline.list-inline-xs
                li: a.icon.icon-xs.fa-facebook(href='#')
                li: a.icon.icon-xs.fa-twitter(href='#')
                li: a.icon.icon-xs.fa-pinterest-p(href='#')
                li: a.icon.icon-xs.fa-vimeo(href='#')
                li: a.icon.icon-xs.fa-google(href='#')
                li: a.icon.icon-xs.fa-rss(href='#')

          .col-md-6.col-lg-4.offset-top-55.offset-md-top-0
            .max-width-300
              h5.h5-variant-1 Newsletter
              hr
              p.offset-top-22 Keep up with our always upcoming news & updates. Enter your e-mail and subscribe to our newsletter.
              // RD Mailform
              form.rd-mailform.rd-mailform-inline.rd-mailform-inline-sm.offset-top-10(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
                .form-wrap
                  label.form-label(for="footer-subscribe-email") Enter your e-mail...
                  input#footer-subscribe-email.form-input(type="email" name="email" data-constraints="@Email @Required")
                button(type="submit").btn.btn-xs.btn-light.btn-no-shadow subscribe
          .col-lg-4.col-xl-5.offset-top-55.offset-md-top-0
            .row
              .col-sm-12
                h5.h5-variant-1 Contact Us
                hr
              .col-xs-5.col-md-6.col-lg-12.col-xl-6.offset-top-18.text-xs-start
                address.contact-info
                  .unit.flex-column.flex-xs-row.unit-spacing-xs
                    .unit-left.icon-adjust-vertical
                      span.icon.icon-xs.icon-white.mdi.mdi-phone
                    .unit-body
                      span: a(href='tel:#') 1-800-1234-567
                      span: a(href='tel:#') 1-800-3214-951

                  .unit.flex-column.flex-xs-row.align-items-center.unit-spacing-xs.offset-top-22.offset-xs-top-18
                    .unit-left.icon-adjust-vertical
                      span.icon.icon-xs.icon-white.mdi.mdi-email-outline
                    .unit-body
                      a(href='mailto:#') info@demolink.org

              .col-xs-7.col-md-6.col-lg-12.col-xl-6.offset-top-22.offset-xs-top-18.inset-xl-left-9.text-xs-start
                address.contact-info
                  .unit.flex-column.flex-xs-row.unit-spacing-xs
                    .unit-left.icon-adjust-vertical
                      span.icon.icon-xs.icon-white.mdi.mdi-map-marker
                    .unit-body
                      a.nowrap(href='#')
                        | 2130 Fulton Street, San Diego,
                        br
                        | CA 94117-1080 USA

                  .unit.flex-column.flex-xs-row.unit-spacing-xs.offset-top-22
                    .unit-left.icon-adjust-vertical
                      span.icon.icon-xs.icon-white.mdi.fa-clock-o
                    .unit-body
                      span Mon-Fri: 9:00am-6:00pm
                      span Sat-Sun: 10:00am-5:00pm

        .row.offset-top-55.offset-sm-top-60.offset-lg-top-88
          .col-sm-12
            p.rights
              | &#169;&nbsp;
              span(class='copyright-year')
              | &nbsp;All Rights Reserved&nbsp;
              a(href='privacy-policy.html') Privacy Policy