// Image Centered
section.section-top-60.section-sm-top-90
  .container
    .row
      .col-lg-10.col-xl-8
        h5 Image Centered
        hr
        figure.figure-variant-1
          +jpg('typography-1-770x513')
          figcaption
            p Wire cutters and wire
        p.offset-top-22.
          If you're looking for well-trained and experienced appliance repair technicians in the San Francisco area look no further than Service Center. Our radio-dispatched trucks allow us to provide you with the fastest service possible. In fact, we are almost always able to accommodate same-day service for any problems. Thousands of our satisfied customers appreciate that we work within the guidelines of the manufacturers' warranty and that we stand behind our work.
='\n'

// Image Left
section.section-top-60.section-sm-top-90
  .container
    .row
      .col-lg-10.col-xl-8
        h5 Image Left
        hr
        .row.offset-top-30
          .col-md-6
            .inset-md-right-18
              figure.figure-variant-1
                +jpg('typography-2-350x234')
          .col-md-6
            p.
              If you're looking for well-trained and experienced appliance repair technicians in the San Francisco area look no further than Service Center. Our radio-dispatched trucks allow us to provide you with the fastest service possible. In fact, we are almost always able to accommodate same-day service for any problems. Thousands of our satisfied customers appreciate that we work within the guidelines of the manufacturers' warranty and that we stand behind our work.
='\n'

// Image Right
section.section-60.section-sm-top-90.section-sm-bottom-110
  .container
    .row
      .col-lg-10.col-xl-8
        h5 Image Right
        hr
        .row.flex-md-row-reverse.offset-top-30
          .col-md-6
            .inset-md-left-18
              figure.figure-variant-1
                +jpg('typography-2-350x234')
          .col-md-6
            p.
              If you're looking for well-trained and experienced appliance repair technicians in the San Francisco area look no further than Service Center. Our radio-dispatched trucks allow us to provide you with the fastest service possible. In fact, we are almost always able to accommodate same-day service for any problems. Thousands of our satisfied customers appreciate that we work within the guidelines of the manufacturers' warranty and that we stand behind our work.
='\n'