// List social
ul.list-inline.list-inline-xxs
  li: a.icon.icon-xs.icon-circle.icon-white.icon-filled-facebook.fa-facebook(href='#')
  li: a.icon.icon-xs.icon-circle.icon-white.icon-filled-twitter.fa-twitter(href='#')
  li: a.icon.icon-xs.icon-circle.icon-white.icon-filled-google.fa-google(href='#')
  li: a.icon.icon-xs.icon-circle.icon-white.icon-filled-linkedin.fa-linkedin(href='#')
  li: a.icon.icon-xs.icon-circle.icon-white.icon-filled-instagram.fa-instagram(href='#')