.rd-navbar-wrap
  nav.rd-navbar.rd-navbar-corporate(data-layout='rd-navbar-fixed', data-sm-layout='rd-navbar-fixed', data-md-device-layout='rd-navbar-fixed', data-md-layout='rd-navbar-fixed', data-lg-layout='rd-navbar-static', data-lg-device-layout="rd-navbar-static", data-stick-up-clone='false', data-md-stick-up-offset="199px", data-lg-stick-up-offset="199px", data-stick-up="true", data-sm-stick-up="true", data-md-stick-up="true", data-lg-stick-up="true", data-xl-device-layout='rd-navbar-static', data-xl-layout='rd-navbar-static', data-xxl-layout='rd-navbar-static', data-xxl-device-layout='rd-navbar-static')
    .rd-navbar-inner
      .rd-navbar-middle-panel
        // RD Navbar Panel
        .rd-navbar-panel
          // RD Navbar Toggle
          button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-outer-panel')
            span
          // RD Navbar Brand
          a.rd-navbar-brand(href='index.html')
            +img( logo.default, { retina: true } )

        .rd-navbar-aside
          .rd-navbar-aside-toggle(data-rd-navbar-toggle='.rd-navbar-aside')
            span
          .rd-navbar-aside-content
            ul.block-wrap-list
              li.block-wrap
                .unit.flex-column.flex-md-row.justify-content-center.align-items-center.unit-spacing-xxs
                  .unit-left
                    span.icon.icon-circle-sm.icon-sm-variant-1.icon-primary-filled.icon-white.mdi.mdi-map-marker
                  .unit-body
                    address.contact-info
                      a(href='#')
                        span 2130 Fulton Street, San Diego,
                        br
                        span CA 94117-1080 USA

              li.block-wrap
                .unit.flex-column.flex-md-row.justify-content-center.align-items-center.unit-spacing-xxs
                  .unit-left
                    span.icon.icon-circle-sm.icon-sm-variant-1.icon-primary-filled.icon-white.fa-clock-o
                  .unit-body
                    address.contact-info
                      span Mon-Fri: 9:00am-6:00pm
                      span Sat-Sun: 10:00am-5:00pm

              li.block-wrap
                .unit.flex-column.flex-md-row.justify-content-center.align-items-center.unit-spacing-xxs
                  .unit-left
                    span.icon.icon-circle-sm.icon-sm-variant-1.icon-primary-filled.icon-white.mdi.mdi-phone
                  .unit-body
                    address.contact-info
                      span: a(href='tel:#') 1-800-1234-567
                      span: a(href='tel:#') 1-800-3214-684

      .rd-navbar-outer-panel
        .rd-navbar-nav-wrap
          +navigation( menu )
          .rd-navbar-search
            // RD Search
            form.rd-search(action="search-results.html", method="GET", data-search-live="rd-search-results-live")
              .form-wrap
                label(for="rd-search-form-input" class="form-label") Search...
                input(class="form-input" id="rd-search-form-input" type="text" name="s" autocomplete="off")
                #rd-search-results-live.rd-search-results-live
                button(type='submit').rd-navbar-search-submit
            button.rd-navbar-search-toggle(data-rd-navbar-toggle='.rd-navbar-search')

        .rd-navbar-top-panel
          .rd-navbar-top-panel-inner
            ul.list-inline.list-inline-xs
              li: a.icon.icon-xs.icon-primary.fa-facebook(href='#')
              li: a.icon.icon-xs.icon-primary.fa-twitter(href='#')
              li: a.icon.icon-xs.icon-primary.fa-pinterest-p(href='#')
              li: a.icon.icon-xs.icon-primary.fa-vimeo(href='#')
              li: a.icon.icon-xs.icon-primary.fa-google(href='#')
              li: a.icon.icon-xs.icon-primary.fa-rss(href='#')
            p.rd-navbar-fixed--hidden Welcome to our service center! We work for you!
            a.btn.btn-xs.btn-light(href='appointment.html') free consultation
