// Swiper
.swiper-container.swiper-slider
  .swiper-wrapper
    .swiper-slide
      +jpg('home-slide-1-1920x600')
      .swiper-slide-caption
        .container.text-center.text-md-start
          .row
            .col-md-8.col-lg-8.col-xl-9
              h1 We've reimagined the home renovation experience!
              .swiper-slide-text
                h5.text-style-1 Welcome to Renoxy, the leading home renovation services provider. We have been bringing the ideas of our clients into life since 1999.
              .offset-top-35
                a.btn.btn-primary.btn-mod-1(href='appointment.html') Order a consultation
    .swiper-slide
      +jpg('home-slide-2-1920x600')
      .swiper-slide-caption
        .container.text-center.text-md-start
          .row
            .col-md-8.col-lg-8.col-xl-7
              h1 Plumbing. Painting. Anything!
              .offset-top-35.offset-sm-top-65
                a.btn.btn-primary.btn-mod-1(href='appointment.html') Order a consultation

    .swiper-slide
      +jpg('home-slide-3-1920x600')
      .swiper-slide-caption
        .container.text-center.text-md-start
          .row
            .col-md-8.col-lg-8.col-xl-7
              h1 Professional. Friendly. Courteous.
              .swiper-slide-text
                h5.text-style-1 You can fully rely on our professionals. With years of experience, they are glad to help you with any renovation.
              .offset-top-35
                a.btn.btn-primary.btn-mod-1(href='appointment.html') Order a consultation

  // Swiper Pagination
  .swiper-pagination-wrap
    .container
      .swiper-pagination
='\n'