extends  ../_includes/_skeleton

block variables
  - var pageName = '404'
  - var pageClass = ['section-single', 'bg-light']
  - var bodyClass = 'flex'

block title
  title= pageName

block page

  // Page Header
  include ../_includes/_header-small

  // Page Content
  main.page-content.text-center

    // Sorry, but page was not found
    section
      .container
        .row.justify-content-md-center
          .col-lg-10.col-xl-8
            h5.h5-variant-1 Sorry, but page was not found
            .text-extra-big 404

            p.text-style-2.
              You may have mistyped the address or the page may have moved.
            .offset-top-35.offset-sm-top-50
              .group-xl
                a.btn.btn-primary.btn-mod-1(href='index.html') Back to home page
                a.btn.btn-600.btn-mod-2(href='contacts.html') contact us
    ='\n'

  // Page Footer
  include ../_includes/_footer-small
