extends  ../_includes/_skeleton

block variables
  - var pageName = 'About us'

block title
  title= pageName

block page
  // Page Header
  include ../_includes/_header

  +breadcrumbs

  // A Few Words About Us
  section.section-60.section-sm-90.section-md-110
    .container
      .row.justify-content-md-center
        .col-md-8.col-lg-6
          .inset-lg-right-30
            .thumbnail.thumbnail-video
              figure
                +jpg('about-1-540x310')
              .caption
                a.icon.icon-xxl.icon-white-contrast.icon-circle.mdi.mdi-play-circle-outline(data-lightgallery='item', href='https://www.youtube.com/watch?v=_j7-oZ2eQwI')
        .col-md-8.col-lg-6.offset-top-45.offset-lg-top-0
          h2 A Few Words About Us
          .divider.divider-md.divider-primary.divider-sm-left
          p.offset-top-30.offset-lg-top-35.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          p.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  ='\n'

  // Our Advantages
  section.section-80.section-md-110.bg-light
    .container
      .row.text-center
        .col-sm-12
          h2 Our Advantages
          .divider.divider-md.divider-primary
      include ../_includes/_counters
  ='\n'

  // Our Team
  section.section-60.section-sm-110
    .container
      .row.text-center
        .col-sm-12
          h2 Our Team
          .divider.divider-md.divider-primary
      include ../sections/_4-columns-layout
    .container.offset-top-30.offset-sm-top-60
      .text-center
        a.btn.btn-primary.min-width-230(href='team.html') view all team members
  ='\n'


  // Page Footer
  include ../_includes/_footer