extends  ../_includes/_skeleton

block variables
  - var pageName = 'Appointment'

block title
  title= pageName

block page
  // Page Header
  include ../_includes/_header

  +breadcrumbs

  // Join Our Team
  section.section-60.section-sm-top-80
    .container.container-1
      .row
        .col-sm-12
          .rd-calendar
            .rdc-panel
              a.rdc-prev
              .rdc-month
              .rdc-fullyear
              a.rdc-next
            .rdc-table
            .rdc-events
              a.rdc-events_close
              ul
                li.rdc-event(data-date='06/03/2023')
                  article.event-widget
                    .widget-header
                      span.icon.icon-xs-variant-1.icon-primary.mdi.mdi-clock
                    .widget-body
                      span 10:00 am, 11:00 am, 12:00 am,
                      span 1:00 pm, 2:00 pm, 3:00 pm

                li.rdc-event(data-date='06/15/2023')
                  article.event-widget
                    .widget-header
                      span.icon.icon-xs-variant-1.icon-primary.mdi.mdi-clock
                    .widget-body
                      span 10:00 am, 11:00 am, 12:00 am,
                      span 1:00 pm, 2:00 pm, 3:00 pm

                li.rdc-event(data-date='06/20/2023')
                  article.event-widget
                    .widget-header
                      span.icon.icon-xs-variant-1.icon-primary.mdi.mdi-clock
                    .widget-body
                      span 10:00 am, 11:00 am, 12:00 am,
                      span 1:00 pm, 2:00 pm, 3:00 pm

                li.rdc-event(data-date='07/06/2023')
                  article.event-widget
                    .widget-header
                      span.icon.icon-xs-variant-1.icon-primary.mdi.mdi-clock
                    .widget-body
                      span 10:00 am, 11:00 am, 12:00 am,
                      span 1:00 pm, 2:00 pm, 3:00 pm

                li.rdc-event(data-date='07/19/2023')
                  article.event-widget
                    .widget-header
                      span.icon.icon-xs-variant-1.icon-primary.mdi.mdi-clock
                    .widget-body
                      span 10:00 am, 11:00 am, 12:00 am,
                      span 1:00 pm, 2:00 pm, 3:00 pm

                li.rdc-event(data-date='08/11/2023')
                  article.event-widget
                    .widget-header
                      span.icon.icon-xs-variant-1.icon-primary.mdi.mdi-clock
                    .widget-body
                      span 10:00 am, 11:00 am, 12:00 am,
                      span 1:00 pm, 2:00 pm, 3:00 pm

                li.rdc-event(data-date='08/15/2023')
                  article.event-widget
                    .widget-header
                      span.icon.icon-xs-variant-1.icon-primary.mdi.mdi-clock
                    .widget-body
                      span 10:00 am, 11:00 am, 12:00 am,
                      span 1:00 pm, 2:00 pm, 3:00 pm

                li.rdc-event(data-date='09/07/2023')
                  article.event-widget
                    .widget-header
                      span.icon.icon-xs-variant-1.icon-primary.mdi.mdi-clock
                    .widget-body
                      span 10:00 am, 11:00 am, 12:00 am,
                      span 1:00 pm, 2:00 pm, 3:00 pm

                li.rdc-event(data-date='09/18/2023')
                  article.event-widget
                    .widget-header
                      span.icon.icon-xs-variant-1.icon-primary.mdi.mdi-clock
                    .widget-body
                      span 10:00 am, 11:00 am, 12:00 am,
                      span 1:00 pm, 2:00 pm, 3:00 pm

                li.rdc-event(data-date='10/13/2023')
                  article.event-widget
                    .widget-header
                      span.icon.icon-xs-variant-1.icon-primary.mdi.mdi-clock
                    .widget-body
                      span 10:00 am, 11:00 am, 12:00 am,
                      span 1:00 pm, 2:00 pm, 3:00 pm

                li.rdc-event(data-date='10/24/2023')
                  article.event-widget
                    .widget-header
                      span.icon.icon-xs-variant-1.icon-primary.mdi.mdi-clock
                    .widget-body
                      span 10:00 am, 11:00 am, 12:00 am,
                      span 1:00 pm, 2:00 pm, 3:00 pm

                li.rdc-event(data-date='11/07/2023')
                  article.event-widget
                    .widget-header
                      span.icon.icon-xs-variant-1.icon-primary.mdi.mdi-clock
                    .widget-body
                      span 10:00 am, 11:00 am, 12:00 am,
                      span 1:00 pm, 2:00 pm, 3:00 pm

                li.rdc-event(data-date='11/23/2023')
                  article.event-widget
                    .widget-header
                      span.icon.icon-xs-variant-1.icon-primary.mdi.mdi-clock
                    .widget-body
                      span 10:00 am, 11:00 am, 12:00 am,
                      span 1:00 pm, 2:00 pm, 3:00 pm

                li.rdc-event(data-date='12/08/2023')
                  article.event-widget
                    .widget-header
                      span.icon.icon-xs-variant-1.icon-primary.mdi.mdi-clock
                    .widget-body
                      span 10:00 am, 11:00 am, 12:00 am,
                      span 1:00 pm, 2:00 pm, 3:00 pm

                li.rdc-event(data-date='12/20/2023')
                  article.event-widget
                    .widget-header
                      span.icon.icon-xs-variant-1.icon-primary.mdi.mdi-clock
                    .widget-body
                      span 10:00 am, 11:00 am, 12:00 am,
                      span 1:00 pm, 2:00 pm, 3:00 pm
  ='\n'

  // Make an Appointment
  section.section-60.section-sm-bottom-90
    .container
      .row
        .col-sm-12.text-center
          h2 Make an Appointment
          .divider.divider-md.divider-primary

        .col-sm-12.offset-top-60
          // RD Mailform
          form.rd-mailform(data-form-output="form-output-global", data-form-type='order', method='post', action='bat/rd-mailform.php')
            .row
              .col-md-6
                .form-wrap
                  label.form-label-outside(for="appointment-name") Name
                  input#appointment-name.form-input(type="text" name="name" data-constraints="@Required")

              .col-md-6.offset-top-18.offset-md-top-0
                .form-wrap
                  label.form-label-outside(for="appointment-email") E-mail
                  input#appointment-email.form-input(type="email" name="email" data-constraints="@Email @Required")

              .col-sm-12.offset-top-18
                .row
                  .col-md-4
                    .form-wrap
                      label.form-label-outside(for="appointment-date") Date
                      input.form-input#appointment-date(type='text', data-time-picker='date' data-constraints="@Required")
                  .col-md-4.offset-top-18.offset-md-top-0
                    .form-wrap.date
                      label.form-label-outside(for="appointment-time-1") Required Time Interval Start
                      input.form-input#appointment-time-1(type='text', data-time-picker='time')
                  .col-md-4.offset-top-18.offset-md-top-0
                    .form-wrap.date
                      label.form-label-outside(for="appointment-time-2") Required Time Interval End
                      input.form-input#appointment-time-2(type='text', data-time-picker='time')

              .col-sm-12.offset-top-18
                .form-wrap
                  label.form-label-outside(for="appointment-message") Message
                  textarea#appointment-message.form-input(name="message" data-constraints="@Required")
              .col-sm-12.offset-top-30
                button(type="submit").btn.btn-primary Make an appointment

  ='\n'

  // Page Footer
  include ../_includes/_footer