extends  ../_includes/_skeleton

block variables
  - var pageName = 'Careers'

block title
  title= pageName

block page
  // Page Header
  include ../_includes/_header

  +breadcrumbs

  // Join Our Team
  section.section-60.section-sm-top-75
    .container
      .row.justify-content-md-center.align-items-md-center
        .col-md-6
          figure
            +jpg('careers-1-570x365')
        .col-md-6.offset-top-45.shift-md-top-10
          h2 Join Our Team
          .divider.divider-md.divider-primary.divider-sm-left
          p.offset-top-30.offset-md-top-35.
            Take a job opportunity of a lifetime - join the team of Service Center. We are interested in hiring professionals for a long term, so, feel free to send us your CV.
          .offset-top-30
            a.btn.btn-primary(href='#') send resume
  ='\n'

  // Your Career Starts Here
  section.section-80.section-md-110.bg-gray-lighter
    .container
      .row.justify-content-md-center.text-center
        .col-md-9.col-lg-12
          h2 Your Career Starts Here
          .divider.divider-md.divider-primary

          p.offset-top-30.offset-md-top-55.
            Can't find the job you want? Send your resume to info@demolink.org , and we'll contact you when a new position will be open.
      .row.row-30.justify-content-md-center.justify-content-lg-start.offset-top-60
        .col-md-9.col-lg-6
          .box-custom.hot
            h5.box-custom-header: a(href='#') Junior Job Position

            ul.list-meta-variant-1
              li
                span.icon.icon-xs.icon-primary.mdi.mdi-map-marker
                span San Diego

              li
                span.icon.icon-xs.icon-primary.mdi.mdi-timelapse
                span Part Time

              li
                span.icon.icon-xs.icon-primary.mdi.mdi-calendar
                time(datetime='2023-06-07') June 7, 2023

        .col-md-9.col-lg-6
          .box-custom
            h5.box-custom-header: a(href='#') Middle Job Position

            ul.list-meta-variant-1
              li
                span.icon.icon-xs.icon-primary.mdi.mdi-map-marker
                span San Diego

              li
                span.icon.icon-xs.icon-primary.mdi.mdi-timelapse
                span Full Time

              li
                span.icon.icon-xs.icon-primary.mdi.mdi-calendar
                time(datetime='2023-06-07') June 7, 2023

        .col-md-9.col-lg-6
          .box-custom
            h5.box-custom-header: a(href='#') Senior Job Position

            ul.list-meta-variant-1
              li
                span.icon.icon-xs.icon-primary.mdi.mdi-map-marker
                span San Diego

              li
                span.icon.icon-xs.icon-primary.mdi.mdi-timelapse
                span Full Time

              li
                span.icon.icon-xs.icon-primary.mdi.mdi-calendar
                time(datetime='2023-06-07') June 7, 2023
        .col-md-9.col-lg-6
          .box-custom
            h5.box-custom-header: a(href='#') Senior Job Position

            ul.list-meta-variant-1
              li
                span.icon.icon-xs.icon-primary.mdi.mdi-map-marker
                span San Diego

              li
                span.icon.icon-xs.icon-primary.mdi.mdi-timelapse
                span Full Time

              li
                span.icon.icon-xs.icon-primary.mdi.mdi-calendar
                time(datetime='2023-06-07') June 7, 2023

        .col-md-9.col-lg-6
          .box-custom
            h5.box-custom-header: a(href='#') Junior Job Position

            ul.list-meta-variant-1
              li
                span.icon.icon-xs.icon-primary.mdi.mdi-map-marker
                span San Diego

              li
                span.icon.icon-xs.icon-primary.mdi.mdi-timelapse
                span Part Time

              li
                span.icon.icon-xs.icon-primary.mdi.mdi-calendar
                time(datetime='2023-06-07') June 7, 2023

        .col-md-9.col-lg-6
          .box-custom
            h5.box-custom-header: a(href='#') Middle Job Position

            ul.list-meta-variant-1
              li
                span.icon.icon-xs.icon-primary.mdi.mdi-map-marker
                span San Diego

              li
                span.icon.icon-xs.icon-primary.mdi.mdi-timelapse
                span Part Time

              li
                span.icon.icon-xs.icon-primary.mdi.mdi-calendar
                time(datetime='2023-06-07') June 7, 2023
  ='\n'

  // Page Footer
  include ../_includes/_footer