extends  ../_includes/_skeleton

block variables
  - var pageName = 'Clients'

block title
  title= pageName

block page
  // Page Header
  include ../_includes/_header

  +breadcrumbs

  // Our Corporate Clients
  section.section-60.section-sm-90
    .container
      .row.text-center
        .col-sm-12
          h2 Our Corporate Clients
          .divider.divider-md.divider-primary
      .row.g-0.offset-top-55
        // Owl Carousel
        .owl-carousel.owl-carousel-centered(data-autoplay="true" data-items='1', data-md-items='3', data-lg-items='4', data-xl-items='5', data-stage-padding='0', data-loop='true', data-margin='30', data-sm-margin='73', data-nav='false', data-dots='true', data-sm-dots-each='2')
          .item
            a.link-image-variant-1(href='#')
              +png('clients-1-200x90')
          .item
            a.link-image-variant-1(href='#')
              +png('clients-2-200x90')
          .item
            a.link-image-variant-1(href='#')
              +png('clients-3-200x90')
          .item
            a.link-image-variant-1(href='#')
              +png('clients-4-200x90')
          .item
            a.link-image-variant-1(href='#')
              +png('clients-5-200x90')
          .item
            a.link-image-variant-1(href='#')
              +png('clients-6-200x90')
  ='\n'

  // Testimonials
  section.section-60.section-sm-top-110.section-sm-bottom-100.bg-gray-lighter
    .container
      .row.text-center
        .col-sm-12
          h2 Testimonials
          .divider.divider-md.divider-primary
      .row.offset-top-50
        include ../sections/_testimonials-4
  ='\n'

  // 3 Column Testimonials
  section.section-60.section-sm-top-110.section-sm-bottom-100
    .container
      .row.text-center
        .col-sm-12
          h2 3 Column Testimonials
          .divider.divider-md.divider-primary
      .row.offset-top-50
        include ../sections/_testimonials-3
  // Page Footer
  include ../_includes/_footer



