extends  ../_includes/_skeleton

block variables
  - var pageName = 'Coming soon'
  - var pageClass = ['section-single', 'bg-light']
  - var bodyClass = 'flex'

block title
  title= pageName

block page

  // Page Header
  include ../_includes/_header-small

  // Page Content
  // We're getting ready to launch in
  section.page-content.text-center
    .container
      .row.justify-content-md-center
        .col-md-11.col-lg-10.col-xl-8
          h5.h5-variant-1 We're getting ready to launch in
          .offset-top-35.offset-md-top-60
            .countdown-wrap
              // Countdown
              .DateCountdown.DateCountdown-1(data-type='until', data-date='2023-12-31 00:00:00', data-format='wdhms', data-bg='rgba(255,255,255,1)')
          .offset-top-35.offset-md-top-80
            p.text-style-2.
              Our website is under construction, we are working very hard to give you the best
              experience on our new web site.

          .offset-top-35
            p.text-style-2.
              Stay ready, we`re launching soon

          .offset-top-10
            .max-width-490
              // RD Mailform
              form.rd-mailform.rd-mailform-inline.rd-mailform-inline-md.offset-top-10(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
                .form-wrap
                  label.form-label(for="subscribe-email") Enter your e-mail...
                  input#subscribe-email.form-input(type="email" name="email" data-constraints="@Email @Required")
                button(type="submit").btn.btn.btn-primary.btn-no-shadow Subscribe

  ='\n'
  // Page Footer
  include ../_includes/_footer-small
