extends  ../_includes/_skeleton

block variables
  - var pageName = 'Contacts'

block title
  title= pageName

block page
  // Page Header
  include ../_includes/_header

  +breadcrumbs

  section.section-60.section-sm-90
    .container
      .row.row-60
        .col-lg-8
          h5 Get in Touch
          hr
          p.
            You can contact us any way that is convenient for you. We are available 24/7 via fax or email. You can also use a quick contact form below or visit our office personally.
          p.
            We would be happy to answer your questions.
          .offset-top-50
            include ../_includes/forms/_contact-form
        .col-lg-4
          .row.inset-xl-left-30
            .col-md-6.col-lg-12
              h5 Social
              hr
              include ../_includes/_list-social

              .offset-top-30.offset-md-top-55
                h5 Phone
                hr
                address.contact-info
                  .unit.flex-row.unit-spacing-xs
                    .unit-left.icon-adjust-vertical
                      span.icon.icon-xs.icon-primary.mdi.mdi-phone
                    .unit-body
                      ul.list-links
                        li: a(href='tel:#') 1-800-1234-567
                        li: a(href='tel:#') 1-800-3214-951

              .offset-top-30.offset-md-top-55
                h5 Address
                hr
                address.contact-info
                  .unit.flex-row.unit-spacing-xs
                    .unit-left.icon-adjust-vertical
                      span.icon.icon-xs.icon-primary.mdi.mdi-map-marker
                    .unit-body
                      a.nowrap(href='#')
                        | 2130 Fulton Street, San Diego,
                        br
                        | CA 94117-1080 USA

            .col-md-6.col-lg-12.offset-top-30.offset-md-top-0.offset-lg-top-55
              h5 Open Hours
              hr
              .offset-top-22
                .contact-info
                  .unit.flex-row.unit-spacing-xs
                    .unit-left.icon-adjust-vertical
                      span.icon.icon-xs.icon-primary.mdi.mdi-calendar-clock
                    .unit-body
                      span Mon-Fri: 9:00am-6:00pm
                      span Sat-Sun: 10:00am-5:00pm
              .offset-top-30.offset-md-top-55
                h5 E-mail
                hr
                .unit.flex-row.unit-spacing-xs.offset-top-22
                  .unit-left.icon-adjust-vertical
                    span.icon.icon-xs.icon-primary.mdi.mdi-email-outline
                  .unit-body
                    a(href='mailto:#') info@demolink.org
  ='\n'

  include ../_includes/_map

  // Page Footer
  include ../_includes/_footer



