extends  ../_includes/_skeleton

block variables
  - var pageName = 'FAQ'

block title
  title= pageName

block page
  // Page Header
  include ../_includes/_header

  +breadcrumbs

  // Accordion
  section.section-top-60.section-sm-top-90
    .container
      .row
        .col-lg-10.col-xl-8
          h5 Accordion FAQ
          hr
          // Responsive-tabs
          .responsive-tabs.responsive-tabs-horizontal(data-type='accordion')
            ul.resp-tabs-list
              li Lorem ipsum dolor sit amet, consectetur adipiscing?
              li Incididunt ut labore et dolore magna aliqua?
              li Ut enim ad minim veniam?
              li Duis aute irure dolor in reprehenderit?
            .resp-tabs-container
              div.animated.fadeIn
                p.
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
              div.animated.fadeIn
                p.
                  Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam.
              div.animated.fadeIn
                p.
                  Est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
              div.animated.fadeIn
                p.
                  Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
  ='\n'

  // Some of Your Questions
  section.section-60.section-sm-top-90.section-sm-bottom-110
    .container
      .row
        .col-lg-10.col-xl-8
          h5 Some of Your Questions
          hr
          p.offset-top-18.
            If you need help, we have a list of frequently asked questions and answers. We strive to give you the best experience possible. Click a question below to view the answer:
          .inset-md-left-18.offset-top-10
            ul.list-marked-variant-2
              li: a(href='#q1' data-custom-scroll-to='q1') Quis autem vel eum iure reprehenderit?
              li: a(href='#q2' data-custom-scroll-to='q2') Vel illum qui dolorem eum fugiat?
              li: a(href='#q3' data-custom-scroll-to='q3') Quo voluptas nulla pariatur?
              li: a(href='#q4' data-custom-scroll-to='q4') At vero eos et accusamus et iusto odio?
              li: a(href='#q5' data-custom-scroll-to='q5') Dignissimos ducimus qui blanditiis?


          dl.list-terms-variant-1.offset-top-35.offset-md-top-60
            dt#q1.h6 Quis autem vel eum iure reprehenderit?
            dd.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.

            dt#q2.h6 Vel illum qui dolorem eum fugiat?
            dd.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.

            dt#q3.h6 Quo voluptas nulla pariatur?
            dd.
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.

            dt#q4.h6 At vero eos et accusamus et iusto odio?
            dd.
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.

            dt#q5.h6 Dignissimos ducimus qui blanditiis?
            dd.
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et.
  ='\n'


  // Page Footer
  include ../_includes/_footer