extends  ../_includes/_skeleton

block variables
  - var pageName = 'Gallery'

block title
  title= pageName

block page
  // Page Header
  include ../_includes/_header

  +breadcrumbs

  // Grid Padding Gallery
  section.section-80.section-sm-90
    .container
      .row.text-center
        .col-12
          h2 Grid Padding Gallery
          .divider.divider-md.divider-primary
      .row.offset-top-35.offset-sm-top-50
        // Isotope Filters
        .col-12
          .isotope-filters.isotope-filters-horizontal
            ul.list-inline
              li
                a.active(data-isotope-filter='*', data-isotope-group='gallery', href='#') All
              li
                a(data-isotope-filter='Category 1', data-isotope-group='gallery', href='#') Tab 1
              li
                a(data-isotope-filter='Category 2', data-isotope-group='gallery', href='#') Tab 2
              li
                a(data-isotope-filter='Category 3', data-isotope-group='gallery', href='#') Tab 3

        .col-12.offset-top-45.offset-sm-top-60
          .isotope-wrap
            // Isotope Content
            .row.isotope.isotope-spacing-1(data-isotope-layout='fitRows', data-isotope-group='gallery', data-lightgallery="group" data-lg-thumbnail="false")
              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 3')
                +thumbnail-1(4, 'gallery-grid-1-370x240', 'gallery-1-original-1200x800', 'Repair Services', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.')
              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 2')
                +thumbnail-1(4, 'gallery-grid-2-370x240', 'gallery-2-original-1200x800', 'Plumber Services', 'Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute.')
              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 1')
                +thumbnail-1(4, 'gallery-grid-3-370x240', 'gallery-3-original-1200x900', 'Electrician Services', 'reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.')
              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 3')
                +thumbnail-1(4, 'gallery-grid-4-370x240', 'gallery-4-original-1200x801', 'Kitchen Equipment', 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam.')
              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 2')
                +thumbnail-1(4, 'gallery-grid-5-370x240', 'gallery-5-original-1200x800', 'Gas Stoves', 'eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.')
              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 1')
                +thumbnail-1(4, 'gallery-grid-6-370x240', 'gallery-6-original-1200x800', 'Small Repair', 'Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.')
              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 3')
                +thumbnail-1(4, 'gallery-grid-7-370x240', 'gallery-7-original-1200x800', 'Electronics Repair', 'Ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.')
              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 2')
                +thumbnail-1(4, 'gallery-grid-8-370x240', 'gallery-8-original-1200x804', 'Domestic Equipment', 'Consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam.')
              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 1')
                +thumbnail-1(4, 'gallery-grid-9-370x240', 'gallery-9-original-1200x801', 'Parts Department', 'Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.')
  ='\n'


  // Page Footer
  include ../_includes/_footer