extends  ../_includes/_skeleton

block variables
  - var pageName = 'Pricing'

block title
  title= pageName

block page
  // Page Header
  include ../_includes/_header

  +breadcrumbs

  // Four Plans
  section.section-top-60.section-sm-top-90
    .container
      .row
        .col-sm-12
          h5 Four Plans
          hr
      .row.justify-content-md-center.align-items-md-center.offset-top-30
        .col-md-6.col-xl-3
          .pricing-table.pricing-table-style-lighter
            .pricing-table-header
              h6.pricing-table-heading Ultimate
              p.price $59.00

            .pricing-table-body
              ul.list-bordered
                 li: a(href='#') Free Consultation
                 li: a(href='#') Electrical Repair
                 li: a(href='#') Annual Servicing
                 li: a(href='#') Plumber Services
            .pricing-table-footer
              a.btn.btn-primary(href='#') sign up

        .col-md-6.col-xl-3.offset-top-30.offset-md-top-0
          .pricing-table.pricing-table-style-lighter.pricing-table-preferred-variant-1
            .pricing-table-header
              h6.pricing-table-heading Professional
              p.price $33.00

            .pricing-table-body
              ul.list-bordered
                li: a(href='#') Online Consultation
                li: a(href='#') Range Repair
                li: a(href='#') Replacement Parts
                li: a(href='#') Electrician Services
            .pricing-table-footer
              a.btn.btn-primary(href='#') sign up

        .col-md-6.col-xl-3.offset-top-30.offset-lg-top-0
          .pricing-table.pricing-table-style-lighter
            .pricing-table-header
              h6.pricing-table-heading Standard
              p.price $19.00

            .pricing-table-body
              ul.list-bordered
                li: a(href='#') Paid Consultation
                li: a(href='#') Professional Assistance
                li: a(href='#') Free Tutorials
                li: a(href='#') Equipment Lending
            .pricing-table-footer
              a.btn.btn-primary(href='#') sign up

        .col-md-6.col-xl-3.offset-top-30.offset-lg-top-0
          .pricing-table.pricing-table-style-lighter
            .pricing-table-header
              h6.pricing-table-heading Basic
              p.price $9.00

            .pricing-table-body
              ul.list-bordered
                li: a(href='#') Phone Consultation
                li: a(href='#') Paid Tutorials
                li: a(href='#') Reference Resources
                li: a(href='#') Serviceman Assistance
            .pricing-table-footer
              a.btn.btn-primary(href='#') sign up
  ='\n'

  // Three Plans
  section.section-top-60.section-sm-top-90
    .container
      .row
        .col-sm-12
          h5 Three Plans
          hr
      .row.row-30.align-items-md-center.offset-top-30
        .col-md-6.col-lg-4
          .pricing-table.pricing-table-style-lighter
            .pricing-table-header
              h6.pricing-table-heading Ultimate
              p.price $59.00

            .pricing-table-body
              ul.list-bordered
                li: a(href='#') Free Consultation
                li: a(href='#') Electrical Repair
                li: a(href='#') Annual Servicing
                li: a(href='#') Plumber Services
            .pricing-table-footer
              a.btn.btn-primary(href='#') sign up

        .col-md-6.col-lg-4
          .pricing-table.pricing-table-style-lighter
            .pricing-table-header
              h6.pricing-table-heading Professional
              p.price $29.00

            .pricing-table-body
              ul.list-bordered
                li: a(href='#') Online Consultation
                li: a(href='#') Range Repair
                li: a(href='#') Replacement Parts
                li: a(href='#') Electrician Services
            .pricing-table-footer
              a.btn.btn-primary(href='#') sign up

        .col-md-6.col-lg-4
          .pricing-table.pricing-table-style-lighter
            .pricing-table-header
              h6.pricing-table-heading Standard
              p.price $9.00

            .pricing-table-body
              ul.list-bordered
                li: a(href='#') Paid Consultation
                li: a(href='#') Professional Assistance
                li: a(href='#') Free Tutorials
                li: a(href='#') Equipment Lending
            .pricing-table-footer
              a.btn.btn-primary(href='#') sign up
  ='\n'

  // Alternative Plans
  section.section-top-60.section-sm-top-90
    .container
      .row
        .col-sm-12
          h5 Alternative Plans
          hr
      .row.justify-content-md-center.pricing-table-group.offset-top-30.offset-lg-top-50
        .col-md-6.col-xl-3
          .pricing-table.pricing-table-style-primary
            .pricing-table-header
              h6.pricing-table-heading Ultimate
              p.price $59.00

            .pricing-table-body
              ul.list-bordered
                li: a(href='#') Free Consultation
                li: a(href='#') Electrical Repair
                li: a(href='#') Annual Servicing
                li: a(href='#') Plumber Services
            .pricing-table-footer
              a.btn.btn-primary(href='#') sign up

        .col-md-6.col-xl-3
          .pricing-table.pricing-table-style-primary.pricing-table-preferred-variant-2
            .pricing-table-header
              h6.pricing-table-heading Professional
              p.price $33.00

            .pricing-table-body
              ul.list-bordered
                li: a(href='#') Online Consultation
                li: a(href='#') Range Repair
                li: a(href='#') Replacement Parts
                li: a(href='#') Electrician Services
            .pricing-table-footer
              a.btn.btn-primary(href='#') sign up

        .col-md-6.col-xl-3
          .pricing-table.pricing-table-style-primary
            .pricing-table-header
              h6.pricing-table-heading Standard
              p.price $19.00

            .pricing-table-body
              ul.list-bordered
                li: a(href='#') Paid Consultation
                li: a(href='#') Professional Assistance
                li: a(href='#') Free Tutorials
                li: a(href='#') Equipment Lending
            .pricing-table-footer
              a.btn.btn-primary(href='#') sign up

        .col-md-6.col-xl-3
          .pricing-table.pricing-table-style-primary
            .pricing-table-header
              h6.pricing-table-heading Basic
              p.price $9.00

            .pricing-table-body
              ul.list-bordered
                li: a(href='#') Phone Consultation
                li: a(href='#') Paid Tutorials
                li: a(href='#') Reference Resources
                li: a(href='#') Serviceman Assistance
            .pricing-table-footer
              a.btn.btn-primary(href='#') sign up
  ='\n'

  // Four Plans with Icons
  section.section-60.section-sm-110
    .container
      .row
        .col-sm-12
          h5 Four Plans with Icons
          hr
      .row.justify-content-md-center.offset-top-30
        .col-md-6.col-xl-3
          .pricing-table.pricing-table-style-transparent
            .pricing-table-header
              span.icon.icon-xl.icon-primary.fa-battery-full
              h6.pricing-table-heading Ultimate
              .divider.divider-sm.divider-primary

            .pricing-table-body
              ul.list-bordered
                li: a(href='#') Free Consultation
                li: a(href='#') Electrical Repair
                li: a(href='#') Annual Servicing
                li: a(href='#') Plumber Services
            .pricing-table-footer
              p.price $59.00
              a.btn.btn-primary(href='#') sign up

        .col-md-6.col-xl-3.offset-top-30.offset-md-top-0
          .pricing-table.pricing-table-style-transparent
            .pricing-table-header
              span.icon.icon-xl.icon-primary.fa-battery-three-quarters
              h6.pricing-table-heading Professional
              .divider.divider-sm.divider-primary

            .pricing-table-body
              ul.list-bordered
                li: a(href='#') Online Consultation
                li: a(href='#') Range Repair
                li: a(href='#') Replacement Parts
                li: a(href='#') Electrician Services
            .pricing-table-footer
              p.price $39.00
              a.btn.btn-primary(href='#') sign up

        .col-md-6.col-xl-3.offset-top-30.offset-lg-top-0
          .pricing-table.pricing-table-style-transparent
            .pricing-table-header
              span.icon.icon-xl.icon-primary.fa-battery-half
              h6.pricing-table-heading Standard
              .divider.divider-sm.divider-primary

            .pricing-table-body
              ul.list-bordered
                li: a(href='#') Paid Consultation
                li: a(href='#') Professional Assistance
                li: a(href='#') Free Tutorials
                li: a(href='#') Equipment Lending
            .pricing-table-footer
              p.price $19.00
              a.btn.btn-primary(href='#') sign up

        .col-md-6.col-xl-3.offset-top-30.offset-lg-top-0
          .pricing-table.pricing-table-style-transparent
            .pricing-table-header
              span.icon.icon-xl.icon-primary.fa-battery-quarter
              h6.pricing-table-heading Basic
              .divider.divider-sm.divider-primary

            .pricing-table-body
              ul.list-bordered
                li: a(href='#') Phone Consultation
                li: a(href='#') Paid Tutorials
                li: a(href='#') Reference Resources
                li: a(href='#') Serviceman Assistance
            .pricing-table-footer
              p.price $9.00
              a.btn.btn-primary(href='#') sign up
  ='\n'


  // Page Footer
  include ../_includes/_footer