extends  ../_includes/_skeleton

block variables
  - var pageName = 'Search results'

block title
  title= pageName

block page
  // Page Header
  include ../_includes/_header

  +breadcrumbs

  section.section-60.section-sm-110
    .container
      .row
        .col-lg-10.col-xl-8
          // RD Search
          form.rd-search.rd-search-style-1(action="search-results.html", method="GET", data-search-live="rd-search-results-live-1")
            .form-wrap
              label(for="rd-search-form-input-1" class="form-label") Search...
              input(class="form-input" id="rd-search-form-input-1" type="text" name="s" autocomplete="off")
              #rd-search-results-live-1.rd-search-results-live
            button.rd-search-submit.rd-submit-transparent(type='submit')

          .rd-search-results

  // Page Footer
  include ../_includes/_footer