extends  ../_includes/_skeleton

block variables
  - var pageName = 'Team member'

block title
  title= pageName

block page
  // Page Header
  include ../_includes/_header

  +breadcrumbs

  // Christopher Holmes
  section.section-60.section-sm-top-90.section-sm-bottom-110
    .profile
      .container
        .row
          .col-md-12.col-lg-4
            .profile-header.text-center.text-md-start.text-lg-center
              .unit.flex-column.flex-md-row.flex-lg-column.unot-spacing-xl.align-items-center
                .unit-left
                  figure
                    +jpg('team-member-1-350x350')
                .unit-body
                  a.btn.btn-primary(href='appointment.html') make an appointment
                  ul.list
                    li
                      .unit.flex-row.justify-content-center.justify-content-md-start.justify-content-lg-center.align-items-center.unit-spacing-xxs
                        .unit-left
                          span.icon.icon-sm-variant-2.icon-alto.mdi.mdi-phone
                        .unit-body
                          span: a(href='tel:#') 1-800-1234-567
                    li
                      .unit.flex-row.justify-content-center.justify-content-md-start.justify-content-lg-center.align-items-center.unit-spacing-xxs
                        .unit-left
                          span.icon.icon-sm-variant-2.icon-alto.mdi.mdi-email-outline
                        .unit-body
                          a(href='mailto:#') mail@demolink.org

                  include ../_includes/_list-social

          .col-lg-8.offset-top-60.offset-lg-top-0
            .profile-body
              h4 Christopher Holmes
              p.caption Manager
              hr
              p.offset-top-30.
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              p.
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut.

              .offset-top-30
                .max-width-570
                  ul.list-progress
                    li
                      p Satisfaction Guaranteed
                      .progress-variant-1
                        .progress
                          .progress-bar(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%;')
                        span.caption 100%

                    li
                      p Microwave Repair
                      .progress-variant-1
                        .progress
                          .progress-bar(role='progressbar', aria-valuenow='37', aria-valuemin='0', aria-valuemax='100', style='width: 37%;')
                        span.caption 37%

                    li
                      p Stove Repair
                      .progress-variant-1
                        .progress
                          .progress-bar(role='progressbar', aria-valuenow='91', aria-valuemin='0', aria-valuemax='100', style='width: 91%;')
                        span.caption 91%

                    li
                      p Washer Repair
                      .progress-variant-1
                        .progress
                          .progress-bar(role='progressbar', aria-valuenow='62', aria-valuemin='0', aria-valuemax='100', style='width: 62%;')
                        span.caption 62%
  ='\n'

  // Christopher’s Projects
  section.section-80.section-md-110.bg-gray-lighter
    .container
      .row.text-center
        .col-sm-12
          h2 Christopher’s Projects
          .divider.divider-md.divider-primary
      .row.row-mod-1(data-lightgallery="group" data-lg-thumbnail="false")
        .col-md-6.col-lg-4
          +thumbnail(3, 'team-member-2-370x270', 'gallery-6-original-1200x800', 'Qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed.')

        .col-md-6.col-lg-4.offset-top-30.offset-md-top-0
          +thumbnail(3, 'team-member-3-370x270', 'gallery-3-original-1200x900', 'Quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum.')

        .col-md-6.col-lg-4.offset-top-30.offset-lg-top-0
          +thumbnail(3, 'team-member-4-370x270', 'gallery-7-original-1200x800', 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.')


    .container.offset-top-30.offset-sm-top-60
      .text-center
        a.btn.btn-primary.min-width-230(href='gallery.html') view all gallery
  ='\n'


  // Page Footer
  include ../_includes/_footer