extends  ../_includes/_skeleton

block variables
  - var pageName = 'Team'

block title
  title= pageName

block page
  // Page Header
  include ../_includes/_header

  +breadcrumbs

  // 4 Columns Layout
  section.section-60.section-sm-90.section-md-110
    .container
      .row.text-center
        .col-sm-12
          h2 4 Columns Layout
          .divider.divider-md.divider-primary
      include ../sections/_4-columns-layout
  ='\n'

  // 3 Columns Layout
  section.section-80.section-md-110.bg-gray-lighter
    .container
      .row.text-center
        .col-sm-12
          h2 3 Columns Layout
          .divider.divider-md.divider-primary
      .row.justify-content-xs-center
        .col-xs-9.col-md-6.col-lg-4
          .thumbnail-variant-2
            figure.thumbnail-image
              +jpg('team-5-370x370')
            .caption
              h4: a(href='team-member.html') Philip Hanson
              p.text-silver-chalice Electrician
              include ../_includes/_list-social

        .col-xs-9.col-md-6.col-lg-4.offset-top-55.offset-md-top-0
          .thumbnail-variant-2
            figure.thumbnail-image
              +jpg('team-6-370x370')
            .caption
              h4: a(href='team-member.html') Adam Fowler
              p.text-silver-chalice Plumber
              include ../_includes/_list-social

        .col-xs-9.col-md-6.col-lg-4.offset-top-55.offset-lg-top-0
          .thumbnail-variant-2
            figure.thumbnail-image
              +jpg('team-7-370x370')
            .caption
              h4: a(href='team-member.html') Phillip Miller
              p.text-silver-chalice Serviceman
              include ../_includes/_list-social
  ='\n'

  // 3 Columns Extended Layout
  section.section-60.section-sm-110
    .container
      .row.text-center
        .col-sm-12
          h2 3 Columns Extended Layout
          .divider.divider-md.divider-primary
      .row.offset-top-50.text-center.text-xs-start
        .col-md-6.col-xl-4
          .profile-preview
            .profile-preview-header
              .unit.d-block.d-xs-flex.flex-xs-row.unit-spacing-md
                .unit-left
                  figure
                    +jpg('team-8-130x130')
                .unit-body
                  h6: a(href='team-member.html') Philip Hanson
                  p.text-silver-chalice Electrician
                  ul.list
                    li
                      .unit.flex-row.align-items-center.unit-spacing-xxs.justify-content-center.justify-content-xs-start
                        .unit-left
                          span.icon.icon-xs-variant-2.icon-silver-chalice.mdi.mdi-phone
                        .unit-body
                          span: a(href='tel:#') 1-800-1234-567
                    li
                      .unit.flex-row.align-items-center.unit-spacing-xxs.justify-content-center.justify-content-xs-start
                        .unit-left
                          span.icon.icon-xs-variant-2.icon-silver-chalice.mdi.mdi-email-outline
                        .unit-body
                          a(href='mailto:#') hanson@demolink.org
            .profile-preview-body
              p.
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.
              a.btn.btn-sm.btn-primary(href='team-member.html') Get in touch

        .col-md-6.col-xl-4.offset-top-60.offset-md-top-0
          .profile-preview
            .profile-preview-header
              .unit.d-block.d-xs-flex.flex-xs-row.unit-spacing-md
                .unit-left
                  figure
                    +jpg('team-9-130x130')
                .unit-body
                  h6: a(href='team-member.html') Adam Fowler
                  p.text-silver-chalice Plumber
                  ul.list
                    li
                      .unit.flex-row.align-items-center.unit-spacing-xxs.justify-content-center.justify-content-xs-start
                        .unit-left
                          span.icon.icon-xs-variant-2.icon-silver-chalice.mdi.mdi-phone
                        .unit-body
                          span: a(href='tel:#') 1-800-1234-567
                    li
                      .unit.flex-row.align-items-center.unit-spacing-xxs.justify-content-center.justify-content-xs-start
                        .unit-left
                          span.icon.icon-xs-variant-2.icon-silver-chalice.mdi.mdi-email-outline
                        .unit-body
                          a(href='mailto:#') fowler@demolink.org
            .profile-preview-body
              p.
                Et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
              a.btn.btn-sm.btn-primary(href='team-member.html') Get in touch

        .col-md-6.col-xl-4.offset-top-60.offset-xl-top-0
          .profile-preview
            .profile-preview-header
              .unit.d-block.d-xs-flex.flex-xs-row.unit-spacing-md
                .unit-left
                  figure
                    +jpg('team-10-130x130')
                .unit-body
                  h6: a(href='team-member.html') Phillip Miller
                  p.text-silver-chalice Serviceman
                  ul.list
                    li
                      .unit.flex-row.align-items-center.unit-spacing-xxs.justify-content-center.justify-content-xs-start
                        .unit-left
                          span.icon.icon-xs-variant-2.icon-silver-chalice.mdi.mdi-phone
                        .unit-body
                          span: a(href='tel:#') 1-800-1234-567
                    li
                      .unit.flex-row.align-items-center.unit-spacing-xxs.justify-content-center.justify-content-xs-start
                        .unit-left
                          span.icon.icon-xs-variant-2.icon-silver-chalice.mdi.mdi-email-outline
                        .unit-body
                          a(href='mailto:#') miller@demolink.org
            .profile-preview-body
              p.
                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi.
              a.btn.btn-sm.btn-primary(href='team-member.html') Get in touch
  ='\n'


  // Page Footer
  include ../_includes/_footer