/** @section Box custom */
.box-custom {
  padding: 25px 28px;
  box-shadow: $box-shadow;
  background: $white;

  &-header {
    font-weight: 400;
  }

  &.hot {
    .box-custom-header {
      &:before {
        position: relative;
        left: -6px;
        content: '\f32d';
        font-family: "Material Design Icons";
        display: inline-block;
        margin-right: .5em;
        line-height: inherit;
        font-size: .83333em;
        color: $monza;
        pointer-events: none;
        vertical-align: bottom;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .box-custom {
    padding: 40px 28px;
  }
}

.box-custom-variant-1 {
  text-align: center;

  .box-header,
  .box-image {
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: -1px;
      left: 50%;
      z-index: -1;
      width: 120vw;
      transform: translateX(-50%);
      background: $gray-600;
    }

    &:after {
      content: '';
      opacity: .4;
      background: $gray-600;
    }
  }

  .box-header {
    position: relative;
    z-index: 1;
    padding: 30px 0;
    &, * { color: $white; }

    &:before,
    &:after {
      bottom: 0;
    }
  }

  .box-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
  }

  .box-image {
    position: relative;
    z-index: 2;

    &:before,
    &:after {
      height: 50%;
    }

    img {
      flex-shrink: 0;
      height: auto;
    }
  }

  .box-content {
    padding: 20px 0 0;

    > * + * {
      margin-top: 30px;
    }
  }
}

.page .box-custom-variant-1 {
  & + * {
    margin-top: 21px;
  }
}

@include media-breakpoint-up(md) {
  $img-ratio: 23.1%;
  .box-custom-variant-1 {
    position: relative;
    text-align: left;

    .box-header {
      padding: 23px 10px 32px 17px;

      &:before,
      &:after {
        width: auto;
        left: 0;
        right: -10px;
        transform: none;
      }
    }

    .box-image {
      position: absolute;
      left: 0;
      top: 7%;
      padding-left: 17px;
      width: $img-ratio;

      &:before,
      &:after {
        display: none;
      }

      img {
        max-width: 100%;
      }
    }

    .box-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-top: 8px;

      > * + * {
        margin-top: 0;
        margin-left: 30px;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .box-custom-variant-1 {
    .box-header,
    .box-content {
      padding-left: 25px;
    }

    .box-image {
      top: 50%;
      transform: translateY(-50%);
    }

    .box-content {
      margin-top: 0;
    }
  }
}

