/** @section Custom Buttons Styles */

// Base styles
// --------------------------------------------------

.btn {
  padding: $btn-padding;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  text-transform: uppercase;
  letter-spacing: .06em;
  border-radius: 50px;
  transition: .3s ease-out;

  &:focus,
  &:active,
  &:active:focus {
    outline: none;
    box-shadow: none !important;
  }

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {

    }
  }

  &:hover,
  &:focus,
  &.focus {

  }

  &:active,
  &.active {
    box-shadow: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {

  }
}

.btn-mod-1 {
  min-width: 230px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-mod-2 {
  min-width: 170px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid;
}

// Alternate buttons
// --------------------------------------------------
.btn-default {
  @include button-variant-custom($btn-default-color, $btn-default-bg, $btn-default-border, $white, $gray-darker, $gray-darker);
}

.btn-primary {
  @include button-variant-custom($btn-primary-color, $btn-primary-bg, $btn-primary-border, $white, $link-hover-color, $link-hover-color);
}

.btn-light {
  @include button-variant-custom($dark, $light, $light, $white, $gray-600, $gray-600);
}

.btn-600 {
  @include button-variant-custom($white, $gray-600, $gray-600, $white, $primary, $primary);
}

// Additional styling
.btn-no-shadow {
  box-shadow: none;
}


// Button Sizes
// --------------------------------------------------

.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, 19px, $border-radius-large);
  min-width: 200px;
  letter-spacing: .02em;
}

.btn-sm {
  @include button-size($padding-small-vertical, $padding-small-horizontal, 16px, $border-radius-large);
  letter-spacing: .02em;
}

.btn-lg {
  @include button-size($padding-large-vertical, $padding-large-horizontal, 16px, $border-radius-large);
  min-width: 140px;
}

// Button Shapes
// --------------------------------------------------

.btn-rect {
  border-radius: 0;
}

.btn-round {
  border-radius: 11px;
}

.btn-round-sm {
  border-radius: 3px;
}

// Button Icon styles
// --------------------------------------------------

.btn {

  &.btn-icon {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

    .icon {
      position: relative;
      top: -2px;
      display: inline;
      width: auto;
      height: auto;
      line-height: 0;
      vertical-align: middle;
      transition: 0s;
    }

    &-left {
      .icon {
        margin-right: 10px;
      }
    }

    &-right {
      flex-direction: row-reverse;
      .icon {
        margin-left: 10px;
      }
    }

  }
}