/** @section Comment utilities */
.comment {
  figure, figure > img {
    border-radius: 100px;
  }

  img {
    width: auto;
  }

  time {
    margin-top: 5px;
    color: $silver-chalice;
    font-style: italic;
  }

  .comment-text {
    margin-top: 17px;
  }
}

.comment + .comment {
  margin-top: 30px;
}

.comment-reply {
  padding-left: 11.6%;
}

// Elements
.comment-body {

}

.comment-footer {
  margin-top: 17px;
}

// Adaptive
@include media-breakpoint-down(md) {
  .comment {

  }
}

@include media-breakpoint-up(md) {
  .comment {

  }
}

@include media-breakpoint-up(lg) {
  .comment {

  }
}
