/** @section Counters */
.counter-wrap {
  text-align: center;

  span {
    display: inline;
  }

  .counter-value {
    >*:before {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      font: inherit;
    }
  }

  .symbol {
    visibility: hidden;
  }

  .animated + .symbol {
    visibility: visible;
  }

  span + span {
    margin-left: .05em;
  }

  .counter-value {
    margin-top: 15px;
  }

  .counter-text {
    margin-top: 10px;
  }
}

@include media-breakpoint-up(lg) {
  .counter-wrap {
    * + .counter-value {
      margin-top: 28px;
    }
  }
}