/** @section Flex Grid system */


// Base Grid Styles
// --------------------------------------------------

.container,
.container-wide,
.container-fluid{
  @include make-shell($cell-spacing);
}

.container,
.container-wide{
  min-width: $shell-width;
  max-width: $shell-xs-width;

  @include media-breakpoint-up(md) {
    max-width: map-get($container-max-widths, md);
  }

  @include media-breakpoint-up(lg) {
    max-width: map-get($container-max-widths, lg);
  }

  @include media-breakpoint-up(xl) {
    max-width: map-get($container-max-widths, xl);
  }
}

.container-wide {
  @include media-breakpoint-up(xxl) {
    max-width: $shell-xl-width;
  }
}

.row {
  @include make-range($cell-spacing);

  > .row{
    margin-left: 0;
    margin-right: 0;
  }
}

.row-spacer{
  flex-basis: 100%;
}

[class*="cell-"] {
  @include make-cell-spacing($cell-spacing);
}

// Create IE 9 and below degradation styles
html.lt-ie-10 * + .row,
* + .row {
  margin-top: $range-ws;
}

html.lt-ie-10 * + [class*='cell-'],
* + [class*='cell-'],
html.lt-ie-10 * + .row-md,
* + .row-md {
  margin-top: $range-ws-sm;
}

html.lt-ie-10 * + .row-xl,
* + .row-xl {
  margin-top: $range-ws-lg;
}

html.lt-ie-10 .g-0,
.g-0 {
  margin-left: 0;
  margin-right: 0;

  > [class*='cell'] {
    padding-left: 0;
    padding-right: 0;
  }

  > *  + [class*='cell'] {
    margin-top: 0;
  }
}

html.lt-ie-10 .row-narrow,
.row-narrow {
  @include make-range($cell-spacing-narrow);

  > [class*='cell'] {
    @include make-cell-spacing($cell-spacing-narrow);
  }

  > *  + [class*='cell'] {
    @include make-cell-spacing($cell-spacing-narrow);
  }
}


// Flex Grid Styles
// --------------------------------------------------

@include media-breakpoint-up(sm) {
  .row {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;

    > .row{
      flex-basis: 100%;
    }
  }

  .row-vertical{
    flex-direction: column;
  }

  .row > [class*='cell'] {
    flex: 0 0 auto;
    flex-basis: 100%;
  }
}

@each $resolution, $alias in ($screen-xs-min : xs, $screen-sm-min : sm, $screen-md-min : md, $screen-lg-min : lg, $screen-xl-min : xl) {
  @media (min-width: $resolution) {
    * + [class*='cell-#{$alias}-'] {
      margin-top: 0;
    }

    @include make-grid-system($alias, $cell-count);
  }
}

html.lt-ie-10 {
  .row > {
    @include make-fallback($cell-count);
  }
}