/** @section Custom form styles */
$form-padding-vertical: 14px;
$form-padding-horizontal: 20px;

.rd-mailform {
  position: relative;
}

// Normalize non-controls
// --------------------------------------------------

label {
  margin-bottom: 5px;
  font-weight: 400;
}

// Common form controls
// --------------------------------------------------

.input-sm,
.input-lg,
.form-input {
  font-size: $form-input-font-size;

  &, &:focus {
    box-shadow: none;
  }
}

textarea.form-input {
  height: $form-textarea-default-height;
  min-height: $form-textarea-default-min-height;
  max-height: $form-textarea-default-max-height;
  resize: vertical;
}

.form-input {
  display: block;
  width: 100%;
  height: $form-input-height;
  font-size: $form-input-font-size;
  color: $form-input-color;
  background-color: $form-input-background;
  background-image: none;
  border: 1px solid $form-input-border-color;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-appearance: none;
  border-radius: 25px;
  padding: $form-padding-vertical $form-padding-horizontal;
  line-height: $form-input-height - ($padding-base-vertical + 1px)*2;

  &:focus {
    outline: 0;
  }
}

// Form groups
// -------------------------

.form-wrap {
  position: relative;
  margin-bottom: 0;
  text-align: left;
}

.form-wrap + .form-wrap {
  margin-top: 15px;
}

// Form labels
// -------------------------

.form-label {
  position: absolute;
  top: 25px;
  left: $form-padding-horizontal;
  font-size: $form-input-font-size;
  color: $form-input-color-placeholder;
  pointer-events: none;
  z-index: 9;
  transition: .3s;
  transform: translateY(-50%);

  &.focus {
    opacity: 0;
  }

  &.auto-fill {
    color: $form-input-color;
  }
}

.form-label-outside {
  @include media-breakpoint-up(md) {
    position: static;
    &, &.focus, &.auto-fill {
      transform: none;
      color: $form-input-color-placeholder;
      font-size: $form-input-font-size;
    }
  }
}

// Form validation
// -------------------------
.form-validation {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 11px;
  line-height: 11px;
  color: $brand-danger;
  margin-top: 2px;
  transition: .3s;
  text-align: left;
}

// Error Styling
//
.has-error {
  @include form-input-validation-custom($state-danger-text, $state-danger-bg, $state-danger-bg);
}

// Success Styling
//
.has-success {
  @include form-input-validation-custom($state-success-text, $state-success-bg, $state-success-bg);
}

// Warning Styling
//
.has-warning {
  @include form-input-validation-custom($state-warning-text, $state-warning-bg, $state-warning-bg);
}

// Info Styling
//
.has-info {
  @include form-input-validation-custom($state-info-text, $state-info-bg, $state-info-bg);
}

// Form output
// -------------------------

#form-output-global {
  position: fixed;
  bottom: 30px;
  left: 15px;
  visibility: hidden;
  transform: translateX(-500px);
  transition: .3s all ease;
  z-index: 9999999;

  &.active {
    transform: translateX(0);
    visibility: visible;
  }

  @include media-breakpoint-up(sm) {
    left: 30px;
  }
}

.form-output {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 2px;
  transition: .3s;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
  &.error {
    color: $brand-danger;
  }
  &.success {
    color: $brand-success;
  }
}

// Radio and Checkbox Custom
// -------------------------

// Base Styles
//
.radio .radio-custom,
.radio-inline .radio-custom,
.checkbox .checkbox-custom,
.checkbox-inline .checkbox-custom {
  opacity: 0;

  &, &-dummy {
    position: absolute;
    width: 14px;
    height: 14px;
    margin-left: -20px;
    margin-top: 5px;
    outline: none;
    cursor: pointer;
  }

  &-dummy {
    pointer-events: none;
    background: $gray-lighter;
    box-shadow: inset $shadow-area-xxs;

    &:after {
      position: absolute;
      opacity: 0;
    }
  }

  &:focus {
    outline: none;
  }
}

.radio-custom:checked + .radio-custom-dummy:after,
.checkbox-custom:checked + .checkbox-custom-dummy:after {
  opacity: 1;
}

// Custom Radio Styles
//
.radio,
.radio-inline {
  .radio-custom-dummy {
    border-radius: 50%;

    &:after {
      content: '';
      top: 3px;
      right: 3px;
      bottom: 3px;
      left: 3px;
      background: $gray-darker;
      border-radius: 50%;
    }
  }
}

// Custom Checkbox Styles
//
.checkbox,
.checkbox-inline {
  padding-left: 20px;
  .checkbox-custom-dummy {
    pointer-events: none;
    border-radius: $border-radius-small;
    margin-left: 0;
    left: 0;

    &:after {
      content: '\e5ca';
      font-family: 'Material Icons';
      font-size: 20px;
      line-height: 10px;
      position: absolute;
      top: 0;
      left: 0;
      color: $gray-darker;
    }
  }
}

// RD Mailform Variants
.page {
  .rd-mailform-inline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 6px auto 0;
    width: 100%;

    *,
    label,
    .btn {
      margin: 0;
    }

    .btn {
      position: relative;
      z-index: 1;
    }

    .form-wrap {
      flex-grow: 1;
      border-radius: 100px;
    }

    .form-validation {
      top: auto;
      bottom: -14px;
      left: 18px;
    }

    @include media-breakpoint-up(md) {
      margin-left: 0;
    }
  }

  .rd-mailform-inline-sm {
    label,
    input {
      font-size: 12px;
      line-height: 18px;
    }

    input {
      height: 40px;
      padding: 11px 32px 11px 19px;
      border-radius: 50px 0 0 50px;
    }

    label {
      top: 20px;
      left: 19px;
    }

    .form-wrap {
      margin-right: -20px;
    }

    .btn {
      min-width: 30px;
      padding: 8px 12px;
    }
  }

  .rd-mailform-inline-md {
    display: block;

    .btn {
      margin-top: 25px;
      padding-top: 13px;
      padding-bottom: 13px;
    }

    @include media-breakpoint-up(sm) {
      display: flex;

      input {
        padding-right: 56px;
      }

      .form-wrap {
        margin-right: -46px;
      }

      .btn {
        margin-top: 0;
      }
    }
  }
}

.rd-mailform-mod-1 {
  textarea {
    min-height: 50px;
    height: 232px;
    max-height: 350px;
  }

  [class*='col']:last-child {
    margin-top: 18px;
  }
}

.rd-mailform-contrast {
  .form-label,
  input,
  textarea {
    color: $gray;
  }

  label {
    top: 20px;
    left: 19px;
  }

  input, textarea {
    background: $white;
    border: 0;
  }
}

.rd-mailform-wild-sand {
  input, textarea {
    background: $wild-sand;
  }
}