/** @section Icons */

// Base styles
// --------------------------------------------------

.icon {
  display: inline-block;
  text-align: center;
  &:before {
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

[class*='icon-circle'] {
  border-radius: 50%;
  overflow: hidden;
}

// Alternate icons
// --------------------------------------------------
.icon-default {
  color: $body-color;
}

.icon-primary {
  color: $primary;
}

.icon-gray {
  color: $gray;
}

.icon-gray-600 {
  color: $gray-600;
}

.icon-gray-dark {

}

.icon-white {
  color: $white;
}

.icon-white-contrast {
  color: $white;
}

.icon-silver-chalice {
  color: $silver-chalice;
}

.icon-alto {
  color: $alto;
}

// Fill
.icon-primary-filled {
  background: $primary;
}

.icon-filled {
  &-facebook {
    background: #395b98;
  }

  &-twitter {
    background: #2ca7e0;
  }

  &-google {
    background: #d95139;
  }

  &-linkedin {
    background: #107bc1;
  }

  &-instagram {
    background: #4879a1;
  }
}

// Outline

a {
  &.icon-default {
    @include icon-link($body-color, $primary);
  }

  &.icon-primary {
    @include icon-link($primary, $white);
  }

  &.icon-gray {
    @include icon-link($gray, $primary);
  }

  &.icon-silver-chalice {
    @include icon-link($silver-chalice, $primary);
  }

  &.icon-white-contrast {
    @include icon-link($white, rgba( $white, .5 ));
  }

  &.icon-filled {
    &-facebook {
      &, &:active, &:focus {
        background: #395b98;
      }

      &:hover {
        background: darken(#395b98, 10%);
      }
    }

    &-twitter {
      &, &:active, &:focus {
        background: #2ca7e0;
      }

      &:hover {
        background: darken(#2ca7e0, 10%);
      }
    }

    &-google {
      &, &:active, &:focus {
        background: #d95139;
      }

      &:hover {
        background: darken(#d95139, 10%);
      }
    }

    &-linkedin {
      &, &:active, &:focus {
        background: #107bc1;
      }

      &:hover {
        background: darken(#107bc1, 10%);
      }
    }

    &-instagram {
      &, &:active, &:focus {
        background: #4879a1;
      }

      &:hover {
        background: darken(#4879a1, 10%);
      }
    }
  }
}

// Icon Sizes
// --------------------------------------------------
.page {
  .icon-xxs {
    @include icon-sizing(16px);
  }

  .icon-xs {
    @include icon-sizing(18px);

    &-variant-1 {
      @include icon-sizing(20px);
    }

    &-variant-2 {
      @include icon-sizing(22px);
    }
  }

  .icon-sm {
    @include icon-sizing(28px);

    &-variant-1 {
      @include icon-sizing(26px);
    }

    &-variant-2 {
      @include icon-sizing(30px);
    }
  }

  .icon-md {
    @include icon-sizing(36px);
  }

  .icon-lg {
    @include icon-sizing(48px);

    &-variant-1 {
      @include icon-sizing(50px);
    }
  }

  .icon-xl {
    @include icon-sizing(60px);
  }

  .icon-xxl {
    @include icon-sizing(72px);
  }
}

// Icon Sizes filled
// --------------------------------------------------

[class*='icon-xs'].icon-circle {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

[class*='icon-sm'].icon-circle-sm {
  width: 44px;
  height: 44px;
  line-height: 44px;

  &.fa-clock-o:before {
    position: relative;
    top: -1px;
  }
}

[class*='icon'].icon-circle-md {
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.icon-code {
  &:before {
    content: '[';
  }

  &:after {
    content: ']';
  }
}

// Icon adjuster
.icon-adjust-vertical {
  .icon {
    position: relative;
    top: 2px;
  }
}

// Context styles
.rd-navbar-static.rd-navbar-corporate .rd-navbar-top-panel {
  a.icon-primary {
    @include icon-link($light, rgba( $light, .5 ));
  }
}