/** @section Links */
.link {
  display: inline-block;
}

.link-inline {
  font: inherit;
  line-height: inherit;

  &, &:focus {
    color: $primary;
  }

  &:hover,
  &.hover {
    color: $gray-600;
  }

  &:active,
  &.active {
    color: $silver-chalice;
  }
}

.link-md {
  font-size: 16px;
  font-weight: 700;

  @include media-breakpoint-up(lg) {
    font-size: 18px;
  }
}

// Link styles
.page {
  .link-gray {
    &, &:active, &:focus {
      color: $gray;
    }

    &:hover {
      color: $primary;
    }
  }

  .link-dark {
    &, &:active, &:focus {
      color: $gray-dark;
    }

    &:hover {
      color: $primary;
    }
  }
}

// Image links
.link-image {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  max-width: 190px;

  img {
    position: relative;
    z-index: 1;
    width: 100%;
    transition: .33s all ease;
    transform: translate3d(0, 0 , 0);
    will-change: transform;
  }
}

%link-image-variant {
  display: inline-block;
  cursor: pointer;
  text-align: center;

  img {
    position: relative;
    z-index: 1;
    width: 100%;
    transition: .33s all ease;
    transform: translate3d(0, 0 , 0);
    will-change: transform;
  }
}

.link-image-variant-1 {
  @extend %link-image-variant;
  max-width: 190px;

  img {
    opacity: .4;
  }

  &:hover {
    img {
      opacity: .8;
    }
  }
}

.link-image-variant-2 {
  @extend %link-image-variant;
  max-width: 190px;

  img {
    opacity: 1;
  }

  &:hover {
    img {
      opacity: .6;
    }
  }
}

.link-image-contrast {
  img {
    opacity: .75;
  }

  &:hover {
    img {
      opacity: 1;
    }
  }
}

.link-icon {
  vertical-align: middle;
  > * {
    display: inline-block;
  }

  > * + * {
    margin-left: .5em;
  }
}