/** @section Pagination */
$pagination-offset: 10px;

.pagination-custom {
  position: relative;

  li {
    display: inline-block;
    margin-right: calc(#{$pagination-offset} - .25em);
  }

  li, a {
    width: 36px;
    height: 36px;
    border-radius: 100px;
    text-align: center;
    line-height: 34px;
  }

  li a {
    font-size: 13px;
    font-weight: 700;

    &, &:active, &:focus {
      color: $pagination-color;
      background: $pagination-bg;
    }

    &:hover {
      color: $pagination-hover-color;
      background: $pagination-hover-bg;
    }
  }
  li:first-child,
  li:last-child {
    a {
      font-size: 12px;
    }

    a:before {
      position: relative;
      font-family: 'FontAwesome';
    }
  }

  li:first-child {
    a:before {
      left: -1px;
      content: '\f053';
    }
  }

  li:last-child {
    margin-right: 0;
    a:before {
      right: -1px;
      content: '\f054';
    }
  }

  li.disabled,
  li.active {
    pointer-events: none;
    &, a {
      color: $pagination-active-color;
      background: $pagination-active-bg;
    }
  }

  li.active {
    &, a {
      color: $pagination-active-color;
    }
  }
}

@include media-breakpoint-up(sm) {
  .pagination-custom {
    li, a {
      width: 40px;
      height: 40px;
      line-height: 38px;
    }

    li:first-child,
    li:last-child {
      a:before {
        top: 1px;
      }
    }
  }
}