/** @section Post utilities */

.post {
  background: $white;

  time {
    font-style: italic;
  }

  &-header {
  }

  &-image-link {
    width: 100%;
    transition: $transition-base;

    &:hover {
      opacity: .7;
    }
  }

  .post-meta {
    margin-top: 9px;
  }
}

.post-variant-1 {
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 10px 0px rgba($gray-dark, .13);

  .post-text {
    margin-top: 17px;
    padding-right: 5px;
  }

  .post-body {
    padding: 25px 15px;
  }

  .post-footer {
    margin-top: 15px;
  }
}

@include media-breakpoint-up(md) {
  .post-variant-1 {
    max-width: 100%;
  }
}

.post-variant-2 {
  padding-bottom: 30px;
  border-bottom: 1px solid $gallery;

  .post-text {
    margin-top: 13px;
  }

  .post-body {
    margin-top: 20px;
    padding-right: 20px;
  }

  .post-footer {
    margin-top: 10px;
  }
}

.post-variant-3 {
  padding-bottom: 30px;
  border-bottom: 1px solid $gallery;

  .post-body {
    margin-top: 20px;
  }

  .post-text {
    margin-top: 20px;
  }

  .post-footer {
    margin-top: 20px;
    > * + * {
      margin-top: 22px;
    }
  }

  & + .post-variant-3 {
    margin-top: 60px;
  }
}

.post-variant-4 {
  .post-text {
    margin-top: 13px;
  }

  .post-body {
    margin-top: 20px;
    padding-right: 20px;
  }

  .post-footer {
    margin-top: 10px;
  }
}

// Blog modern
.blog-modern {
  > li {
    position: relative;
    overflow: hidden;
  }

  > li + li {
    margin-top: 60px;
  }

  time {
    color: $gray-dark;
  }

  .link {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 700;
  }

  .post-wrap-header {
    position: relative;
    z-index: 1;
    text-align: center;

    figure,
    figure > img {
      border-radius: 100px;
    }

    figure > img {
      width: auto;
    }

    figure {
      position: relative;
      margin-top: 21px;
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      height: 1000px;
      border-right: 1px solid $alto;
      margin-left: -1px;
      bottom: -15px;
      transform: translateY(100%);
    }
  }

  .post-wrap-body {
    position: relative;
    z-index: 2;
    margin-top: 45px;
  }
}

// Post recent
.post-recent {
  time {
    color: $silver-chalice;
  }

  .post-meta {
    margin-top: 10px;
  }
}

// Post single
.post-single {
  .post-meta {
    margin-top: 21px;
    font-style: italic;
    color: $silver-chalice;

    * {
      margin-right: .25em;
    }
  }

  .post-body {
    margin-top: 33px;
  }

  .post-footer {
    margin-top: 30px;
    > * + * {
      margin-top: 15px;
    }
  }

  .post-image {
    margin-top: 28px;
  }

  .post-text {
    margin-top: 30px;
  }
}

.post-info {
  figure, figure > img {
    border-radius: 300px;
  }

  img {
    width: auto;
  }

  p + p {
    margin-top: 19px;
  }
}

.post-mod-1 {
  padding-bottom: 0;
  border-bottom: 0;
}

@include media-breakpoint-up(md) {
  .post-variant-1 {
    .post-body {
      padding: 24px 15px 21px;
    }

    .post-footer {
      margin-top: 20px;
    }
  }

  .post-variant-3 {
    .post-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      > * + * {
        margin-top: 0;
        margin-left: 25px;
      }
    }
  }

  .blog-modern {
    .post-wrap-header {
      flex-basis: 170px;
      flex-shrink: 0;

      &:before {
        content: '';
        position: absolute;
        left: 50%;
        height: 1000px;
        border-right: 1px solid $alto;
        margin-left: -1px;
        bottom: -10px;
        transform: translateY(100%);
      }

      &:after {
        top: 54%;
        left: auto;
        margin: 0;
        right: -30px;
        bottom: auto;
        height: 0;
        width: 65px;
        border-right: 0;
        border-bottom: 1px solid $alto;
        transform: none;
      }

      figure {
        position: relative;
        z-index: 1;

        img {
          position: relative;
          z-index: 2;
        }
      }
    }

    .post-wrap-body {
      flex-grow: 1;
      width: auto;
      margin-top: 0;
      margin-left: 30px;
    }

    > li {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
      padding-bottom: 60px;
    }

    > li:last-child {
      padding-bottom: 0;
      .post-wrap-header:before {
        display: none;
      }
    }

    > li + li {
      margin-top: 0;
    }
  }

  .post-single {
    .post-footer {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;

      > * + * {
        margin-top: 0;
        margin-left: 25px;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .post-variant-1 {
    .post-body {
      padding: 24px 30px 21px;
    }
  }
  .post-variant-2 {
    .post-body {
      padding-right: 14px;
    }
  }
}

@include media-breakpoint-up(xl) {
  .post-variant-2 {
    .post-body {
      padding-right: 20px;
    }
  }
}

// Post single
.post-single {
  .post-body {
  }
}

// Post preview
.post-preview {
  h6, .h6 {
    margin-top: 15px;
    line-height: 1.45;
    letter-spacing: -.01em;
  }

  p {
    font-size: 16px;
    line-height: 1.65;
  }
}

@include media-breakpoint-up(md) {
  .post-preview {
    h6, .h6 {
      margin-top: 30px;
    }

    p {
      margin-top: 10px;
    }
  }
}

@include media-breakpoint-up(xl) {
  .post-preview {
    h6, .h6 {
      line-height: 1.8;
    }
  }
}