/** @section Pricing */
.pricing-table {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid $alto;
  text-align: center;
  background: $white;

  .price {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 700;
    color: $gray-600;
  }

  .icon {
    width: auto;
  }

  &-header {
    padding: 20px 20px 23px;
  }

  &-body {
    padding: 19px 20px;
  }

  &-footer {
    padding-bottom: 27px;
  }

  * + .pricing-table-heading {
    margin-top: 14px;
  }

  * + .btn {
    margin-top: 10px;
  }
}

.pricing-table-style-lighter {
  .pricing-table-header {
    background: $gray-lighter;
  }
}

.pricing-table-style-transparent {
  .pricing-table-header {
    background: transparent;
    padding-bottom: 0;
  }

  .pricing-table-body {
    padding: 8px 20px 5px;
  }
}

.pricing-table-style-primary {
  .pricing-table-header {
    > * { color: $white; }
    background: $primary;
  }
}

// table group
.pricing-table-group {
  margin-left: 0;
  margin-right: 0;
  border: 1px solid $alto;
  border-radius: 10px;

  .pricing-table {
    border: 0;
  }

  [class*='pricing-table-preferred'] {
    margin: -5px;
  }

  > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;

    &:nth-child(3) {
      .pricing-table {
        border-radius: 0 0 0 10px;
      }
    }

    &:last-child {
      .pricing-table {
        border-radius: 0 0 10px 10px;
      }
    }
  }

  @include media-breakpoint-up(md) {
    [class*='pricing-table-preferred'] {
      margin: -9px;
    }

    > [class*='col-'] {
      .pricing-table {
        border-radius: 0;
      }

      [class*='pricing-table-preferred'] {
        border-radius: 10px 10px;
      }

      &:first-child {
        .pricing-table {
          border-radius: 10px 0 0 10px;
        }
      }

      &:last-child {
        .pricing-table {
          border-radius: 0 10px 10px 0;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    [class*='pricing-table-preferred'] {
      margin: -20px 0 -23px -8px;
    }

    > [class*='col-'] {
      .pricing-table {
        border-radius: 0;
      }

      [class*='pricing-table-preferred'] {
        border-radius: 10px 10px;
      }

      &:first-child {
        .pricing-table {
          border-radius: 10px 0 0 10px;
        }
      }

      &:last-child {
        .pricing-table {
          border-radius: 0 10px 10px 0;
        }
      }
    }
  }
}

// Preferred
[class*='pricing-table-preferred'] {
  box-shadow: $box-shadow;

  .pricing-table-header {
    > * { color: $white; }

    background: $gray-600;
  }
}

.pricing-table-preferred-variant-1 {
}

.pricing-table-preferred-variant-2 {
  position: relative;

  .pricing-table-body {
    padding: 40px 35px 20px;
  }

  .pricing-table-footer {
    padding-bottom: 48px;
  }
}

@include media-breakpoint-up(md) {
  .pricing-table {
    .price {
      margin-top: 15px;
      font-size: 26px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .pricing-table {
    .price {
      font-size: 30px;
    }
  }
}