/** @section Progress bars custom */

// Bar itself
// -------------------------
.page {
  .progress-variant-1 {
    position: relative;
    padding-right: 60px;

    .progress {
      margin: 0;
      height: 10px;
      box-shadow: none;
    }

    .caption {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
      width: 60px;
      padding-left: 20px;
      font-size: 16px;
      font-weight: 700;
      color: $gray-dark;
    }

    .progress-bar {
      margin: 0;
      border-radius: $progress-border-radius;
      background: $primary;
      background: $gray-600;
      box-shadow: none;
    }
  }

  .progress-variant-1-contrast {
    .caption {
      color: $white;
    }
  }

  * + .progress-variant-1 {
    margin-top: 6px;
  }

  @include media-breakpoint-up(md) {
    .progress-variant-1 {
      .caption {
        font-size: 18px;
      }
    }
  }
}