/** @section Profile styles */
.profile {
  .profile-header {
    @include media-breakpoint-up(lg) {
      padding-right: 18px;
    }
  }

  .list {
    margin-top: 30px;
  }

  * + hr {
    margin-top: 20px;
  }

  .list-inline {
    margin-top: 26px;
  }
}

.profile-preview {
  h6 + p,
  .h6 + p {
    margin-top: 2px;
  }

  figure {
    img {
      width: auto;
    }
  }

  .list {
    > li {
      text-align: left;
    }
  }

  &-body {
    margin-top: 21px;
  }
}

@include media-breakpoint-up(md) {
  .profile {

  }

  .profile-preview {

  }
}


@include media-breakpoint-up(lg) {
  .profile {

  }

  .profile-preview {

  }
}

@include media-breakpoint-up(xl) {
  .profile {

  }

  .profile-preview {

  }
}