/** @section Products */
.product {
  position: relative;
  padding: 20px 5px 10px;
  text-align: center;
  border: 1px solid $gallery;
  background: $white;
  transition: .2s;

  .product-image {
    padding: 10px;
  }

  .product-caption {
    padding: 15px 10px;
  }

  .product-title {
    margin-top: 8px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: $box-shadow;
    transition: .33s all ease;
    opacity: 0;
    visibility: hidden;
  }

  &:hover {
    border-color: transparent;

    &:before {
      opacity: 1;
      visibility: visible;
    }
  }
}

@include media-breakpoint-up(sm) {
  .product {
    padding: 20px 11px 10px;

    .product-caption {
      padding: 15px 26px;
    }
  }
}

@include media-breakpoint-up(md) {
  .product {
    padding: 46px 11px 10px;

    .product-caption {

    }
  }
}