/** @section Quotes custom */
.quote-variant-1 {
  cite {
    font-size: 16px;
    font-weight: 700;
    color: $primary;
  }

  q {
    font-style: italic;
  }

  .small {
    margin-top: 0;
    font-size: 14px;

    &:before {
      display: none;
    }
  }

  .quote-image {
    img {
      height: auto;
      width: auto;
    }

    &, img {
      border-radius: 100px;
    }
  }

  .quote-body {
    position: relative;
    margin-top: 15px;
    padding: 10px 20px 0 0;

    &:before,
    &:after {
      content: '';
      position: absolute;
    }

    &:before {
      top: 0;
      left: 0;
      width: 90%;
      border-top: 1px solid $gallery;
    }

    &:after {
      left: 17px;
      top: -5px;
      width: 10px;
      height: 10px;
      background: $white;
      border-style: solid;
      border-color: $gallery;
      border-width: 1px 0 0 1px;
      transform: rotate(45deg);
    }
  }
}

.quote-variant-2 {
  position: relative;
  padding-left: 40px;
  text-align: left;

  q {
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: (27 / 18);
  }

  cite {
    color: $gray;
  }

  &:before {
    position: absolute;
    top: -6px;
    left: 0;
    content: '\f10d';
    font-family: "FontAwesome";
    color: $primary;
    font-size: 24px;
  }

  .quote-meta {
    margin-top: 10px;
  }
}

@include media-breakpoint-up(md) {
  .quote-variant-1 {
    cite {
      font-size: 18px;
    }

    .unit-body {
      margin-top: 2px;
    }
  }

  .quote-variant-2 {
    q {
      font-size: 18px;
    }
  }
}

@include media-breakpoint-up(lg) {
}