/** @section Scaffolding */

// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

// Body reset

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  @extend .font-size-default;
  font-family: $font-family-base;
  -webkit-text-size-adjust: none;
  color: $body-color;
  background-color: $body-bg;
  font-weight: $font-weight-base;
  -webkit-font-smoothing: subpixel-antialiased;

  &.flex {
    display: flex;
  }
}

.body-gray {
  color: $gray;
}

.page {
  overflow: hidden;
}

/*
* @section      Page Header
* @description  This section holds specific style redeclarations for some
*               of common elements in page header
*/

.page-head {
  position: relative;
  z-index: 1000;
}

/*
* @section      Page Content
* @description  This section holds specific style redeclarations for some
*               of common elements in page content
*/

.page-content {
  z-index: 1;
  position: relative;
  .desktop & {
    @include media-breakpoint-up(lg) {
      min-height: 100vh;
    }
  }
}

// Section single
.section-single {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  > * {
    width: 100%;
  }

  .page-head {
    padding-top: 45px;
    padding-bottom: 0;
  }

  .page-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .page-foot {
    padding-top: 0;
    padding-bottom: 50px;
  }

  @include media-breakpoint-up(md) {
    .page-head {
      padding-top: 60px;
    }

    .page-foot {
      padding-bottom: 70px;
    }
  }

  @include media-breakpoint-up(xl) {
    .page-head {
      padding-top: 75px;
      padding-bottom: 50px;
    }

    .page-foot {
      padding-top: 50px;
      padding-bottom: 90px;
    }
  }

  @include media-breakpoint-up(xl) {
    .page-content {
      padding-top: 90px;
      padding-bottom: 90px;
    }
  }
}

.ie-10,
.ie-11 {
  .section-single {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@include media-breakpoint-up(lg) {
  .desktop {
    .section-single {
      .page-content {
        min-height: 301px;
        width: 100%;
        margin: auto;
      }
    }
  }
}

/*
* @section      Page Footer
* @description  This section holds specific style redeclarations for some
*               of common elements in page footer
*/

.page-foot {
  padding: 65px 0 40px;

  @include media-breakpoint-up(md) {
    padding-top: 77px;
    padding-bottom: 22px;
  }
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// Links

a {
  display: inline-block;
  text-decoration: none;
  transition: .33s all ease-out;

  &, &:active, &:focus {
    color: $link-color;
  }

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    outline: 0;
  }
}

// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure {
  margin: 0;
}

// Images

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

// Rounded corners
.img-rounded {
  border-radius: $border-radius-large;
}

// Image thumbnails
//
// Heads up! This is mixin-ed into thumbnails.less for `.thumbnail`.
.img-thumbnail {
  padding: $thumbnail-padding;
  line-height: $line-height-base;
  background-color: $thumbnail-bg;
  border: 1px solid $thumbnail-border;
  border-radius: $thumbnail-border-radius;
  @include transition(all .2s ease-in-out);
}

// Perfect circle
.img-circle {
  border-radius: 50%; // set radius in percents
}

// Horizontal rules

hr {
  margin-top: 11px;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid $hr-border;
}

// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Use in conjunction with .visually-hidden to only display content when it's focused.
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate

.visually-hidden-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

[role="button"] {
  cursor: pointer;
}

.brand-wrap {
  @include media-breakpoint-up(md) {
    padding-top: 13px;
  }
}

.brand {
  font-size: 20px;
  text-transform: uppercase;
  &, &:active, &:focus, &:hover {
    color: $primary;
  }
}

.rights {
  display: inline-block;
  margin: 0;
  line-height: 1.45;
  vertical-align: baseline;
}

.privacy-link {
  margin-top: 26px;
}