/** @section Custom Thumbnails */

.thumbnail {
  position: relative;
  z-index: 1;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}

.img-thumbnail,
.thumbnail {
  box-shadow: none;
}

// Variant 1
.thumbnail-variant-1 {
  display: inline-block;

  .caption {
    margin-top: 11px;
  }

  * + p {
    margin-top: 4px;
  }

  img {
    width: auto;
    max-width: 100%;
  }
}

// Variant 2
.thumbnail-variant-2 {
  > .caption {
    margin-top: 21px;
    text-align: center;
  }

  * + p {
    margin-top: 11px;
  }

  * + .list-inline {
    margin-top: 20px;
  }
}

// Variant 3, 4
.thumbnail-variant-3,
.thumbnail-variant-4 {
  width: 100.01%;
  overflow: hidden;
  text-align: center;

  * { color: $white; }

  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $black;
  }

  img {
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    max-width: none;
    opacity: 1;
    will-change: opacity;
    transition: .33s all ease-in-out;
  }

  .caption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    transition: .33s all ease-in-out;
    pointer-events: none;

    &:before {
      display: block;
      font-size: 72px;
      line-height: 72px;
      transition: .33s all ease;
    }

    > * {
      max-width: 280px;
      color: $white;
      pointer-events: auto;
    }

    span {
      display: block;
    }
  }

  .desktop & {
    @include media-breakpoint-up(lg) {
      .caption {
        opacity: 0;
        visibility: hidden;
        transform: translateY(30px);
        will-change: opacity, transform;
      }

      &:hover {
        .caption {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          will-change: opacity, transform;
        }
      }
    }
  }

  .thumbnail-original-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
  }

  .thumbnail-link {
    position: relative;
    z-index: 2;
    line-height: 1;
    color: $white;
    opacity: 1;
    transition: .2s all ease-in-out;

    &:before {
      content: '\f0c1';
      font-family: "FontAwesome";
    }

    &:hover {
      color: rgba( $white, .5 );
    }
  }

  .caption-text {
    margin-top: 5px;
  }
}

@include media-breakpoint-down(md) {
  .thumbnail-variant-3,
  .thumbnail-variant-4 {
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
}

.thumbnail-variant-3 {
  img {
    opacity: .4;
  }

  .thumbnail-link {
    font-size: 30px;
  }

  .desktop & {
    @include media-breakpoint-up(lg) {
      img {
        opacity: 1;
      }

      &:hover {
        img {
          opacity: .4;
        }
      }
    }
  }
}

.thumbnail-variant-4 {
  img {
    opacity: .6;
  }

  .thumbnail-link {
    font-size: 36px;
  }

  .caption {
    p {
      color: $alto;
    }
  }

  .caption-text {
    margin-top: 17px;
  }

  .desktop & {
    @include media-breakpoint-up(lg) {
      img {
        opacity: 1;
      }

      &:hover {
        img {
          opacity: .6;
        }
      }
    }
  }
}

// Thumbnail variant 5
.thumbnail-variant-5 {
  figure {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      flex-shrink: 0;
      width: auto;
      height: 100%;
      max-width: none;
      min-width: 100%;
    }
  }
  
  .thumbnail-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($gray-dark, 0);
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    transition: .2s all ease-in-out;

    &:after {
      content: '';
      height: 100%;
      display: inline-block;
      width: 0;
      vertical-align: middle;
    }

    &:before {
      position: relative;
      display: inline-block;
      content: '\f00e';
      font-family: "FontAwesome";
      font-size: 22px;
      color: $white;
      opacity: 0;
      visibility: hidden;
      transition: .3s all ease-in-out;

      transform: translate3d(0, 30px, 0);
      will-change: transform;
    }

    &:hover {
      background: rgba($gray-dark, .4);
      &:before {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

// Thumbnail video
.thumbnail-video {
  position: relative;
  background: $gray-dark;

  img {
    opacity: .7;
    transition: .33s all ease;
  }

  .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

// Make thumbnails to fit entire container width
.thumbnail-block {
  display: block;

  > img,
  a > img {
    width: 100%;
    height: auto;
  }
}