/** @section Custom typography */

// Page header
// -------------------------

.page-header {
}

// Fonts
// -------------------------

.font-default {
  font-family: $font-family-base;
}

.font-size-default {
  font-size: $font-size-body;
  line-height: $line-height-base;
}

// Basic Typography
// -------------------------

#{headings()} {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  color: $headings-color;

  > span {
    display: block;
  }

  a {
    display: inline;
    font: inherit;
    letter-spacing: inherit;
    transition: .33s all ease;
    &, &:active, &:focus {
      color: $primary;
    }

    &:hover {
      color: $link-hover-color;
    }
  }
}

h1,
.h1 {
  //{0 - 768px} <= 40px
  //{768px - 992px} <= 62px
  font-size: 32px;
  line-height: 1;

  @include media-breakpoint-up(md) {
    font-size: 36px;
    line-height: 1.1;
  }

  @include media-breakpoint-up(lg) {
    font-size: 50px;
  }

  @include media-breakpoint-up(xl) {
    line-height: $h1-line-height;
    font-size: $h1-font-size;
  }
}

h2,
.h2 {
  //{0 - 768px} <= 36px
  //{768px - 992px} <= 52px
  font-size: 28px;
  line-height: 1.4;

  @include media-breakpoint-up(md) {
    font-size: 32px;
  }

  @include media-breakpoint-up(lg) {
    line-height: $h2-line-height;
    font-size: $h2-font-size;
  }
}

h3,
.h3 {
  //{0 - 768px} <= 32px
  //{768px - 992px} <= 44px
  font-size: 26px;
  font-weight: 900;
  line-height: 1.2;

  @include media-breakpoint-up(md) {
    font-size: 32px;
  }

  @include media-breakpoint-up(lg) {
    line-height: $h3-line-height;
    font-size: $h3-font-size;
  }
}

h4,
.h4 {
  //{0 - 768px} <= 26px
  //{768px - 992px} <= 36px
  font-size: 24px;
  line-height: 1.2;

  @include media-breakpoint-up(md) {
    font-size: 28px;
  }

  @include media-breakpoint-up(lg) {
    line-height: $h4-line-height;
    font-size: $h4-font-size;
  }
}

h5,
.h5 {
  //{0 - 768px} <= 22px
  //{768px - 992px} <= 28px
  font-size: 20px;
  line-height: 1.2;

  @include media-breakpoint-up(lg) {
    line-height: $h5-line-height;
    font-size: $h5-font-size;
  }
}

.h5-variant-1 {
  @include media-breakpoint-up(lg) {
    font-size: 22px;
  }
}

h6,
.h6 {
  //{0 - 768px} <= 18px
  //{768px - 992px} <= 22px
  font-size: 16px;
  line-height: 1.2;

  @include media-breakpoint-up(sm) {
    font-size: 18px;
  }

  @include media-breakpoint-up(md) {
    line-height: $h6-line-height;
    font-size: $h6-font-size;
  }
}

@include media-breakpoint-up(sm) {
  .big {
    font-size: 16px;
    line-height: 1.5;
  }
}

@include media-breakpoint-up(md) {
  .big {
    font-size: $font-size-lg;
    line-height: floor(($font-size-lg * $line-height-large));
  }
}

small,
.small {
  font-size: $font-size-sm;
  line-height: floor(($font-size-sm * $line-height-small));
}

code {
  padding: 5px 7px;
  font-size: 75%;
  color: $brand-danger;
  background-color: $gray-lighter;
  border-radius: 2px;
}

mark, .mark {
  color: $white;
  background-color: $primary;
  padding: .1em;
}

.text-style-1 {
  font-weight: 400;
  font-style: italic;
  color: $gray;
}

.paragraph-style-1 {
  * {
    margin-right: .25em;
  }

  *:last-child {
    margin-right: 0;
  }
}

.text-style-2 {
  line-height: (29 / 18);
  font-weight: 400;
  font-size: 14px;

  @include media-breakpoint-up(lg) {
    font-size: 18px;
  }
}

.text-extra-big {
  font-size: 120px;
  font-weight: 700;
  line-height: 1;

  @include media-breakpoint-up(md) {
    font-size: 180px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 150px;
    @media (min-height: 768px) {
      font-size: 218px;
    }
  }
}

p.caption {
  margin-top: 2px;
  color: $gray;
}

// Lists
// -------------------------

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list {
  > li + li {
    margin-top: 5px;
  }

  .unit-left {
    vertical-align: middle;
    &:before {
      content: '';
      height: 100%;
      width: 0;
      display: inline-block;
    }
  }
}

.list-xl {
  text-align: center;
  li + li {
    margin-top: 63px;
  }

  * + .link {
    margin-top: 8px;
  }

  * + p {
    margin-top: 20px;
  }

  @include media-breakpoint-up(md) {
    text-align: left;

    .unit-body {
      margin-top: -4px;
    }
  }
}

// List inline
//

.list-inline {
  margin-left: -5px;
  margin-right: -5px;

  > li {
    position: relative;
    z-index: 1;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.list-inline-xxs {
  margin-left: -3px;
  margin-right: -3px;

  > li {
    padding-left: 3px;
    padding-right: 3px;

    &:before {
      content: '';
      height: 100%;
      display: inline-block;
      width: 0;
      vertical-align: middle;
    }

    > * {
      vertical-align: middle;
    }
  }
}

.list-inline-xs {
  margin-left: -6px;
  margin-right: -5px;

  > li {
    padding-left: 6px;
    padding-right: 5px;
  }
}

.list-inline-sm {
  margin-left: -10px;
  margin-right: -10px;

  > li {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.list-inline-md {
  margin-left: -15px;
  margin-right: -15px;

  > li {
    padding-left: 15px;
    padding-right: 15px;
  }
}

// Description Lists
dl {
  margin: 0;
}

// List terms
//

.list-terms {
  dt + dd {
    margin-top: 15px;
  }

  dd + dt {
    margin-top: 30px;
  }
}

.list-terms-variant-1 {
  dt + dd {
    margin-top: 12px;
  }

  dd + dt {
    margin-top: 35px;
  }

  @include media-breakpoint-up(lg) {
    dd + dt {
      margin-top: 60px;
    }
  }
}

// List index
//

.list-index {
  counter-reset: li;

  li {
    .list-index-counter {
      &:before {
        content: counter(li, decimal-leading-zero);
        counter-increment: li;
      }
    }
  }
}

// List marked
//

.list-marked {
  li {
    position: relative;
    padding-left: 16px;

    &:before {
      content: '';
      display: inline-block;
      background: $gray-dark;
      width: 3px;
      height: 3px;
      position: absolute;
      left: 0;
      top: 50%;
      @include transform (translateY(-50%));
    }
  }
}

[class*='list-marked'].list-marked-gray {
  li:before {
    color: $gray;
  }
}

.list-marked-variant-1 {
  li {
    position: relative;
    padding-left: 23px;
    &:before {
      position: absolute;
      top: 5px;
      left: 0;
      content: '\f238';
      font: 400 14px/14px 'Material Design Icons';
      color: $silver-chalice;
    }

    a {
      &, &:active, &:focus {
        color: $link-color;
      }

      &:hover {
        color: $link-hover-color;
      }
    }
  }

  li + li {
    margin-top: 18px;
  }
}

.list-marked-variant-2 {
  li {
    position: relative;
    padding-left: 32px;
    &:before {
      position: absolute;
      top: 5px;
      left: 0;
      content: '\f238';
      font: 400 14px/14px 'Material Design Icons';
      color: $silver-chalice;
    }

    a {
      &, &:active, &:focus {
        color: $primary;
      }

      &:hover {
        color: $gray-600;
      }
    }
  }

  li + li {
    margin-top: 10px;
  }
}

// List tags
.list-tags-variant-1 {
  li {
    display: inline-block;
    font-style: italic;
  }

  li {
    &:after {
      content: ',';
      display: inline-block;
      color: $silver-chalice;
    }
  }

  li:last-child {
    &:after {
      display: none;
    }
  }
}

.list-tags-variant-2 {
  @include group(10px, 10px);

  a {
    display: inline-block;
    padding: 6px 13px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 40px;
    &, &:active, &:focus {
      color: $white;
      background: $primary;
    }

    &:hover {
      color: $white;
      background: $gray-600;
    }
  }
}

// List numbered
.list-numbered {
  counter-reset: li;

  li {
    position: relative;
    padding-left: 30px;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: counter(li, decimal) '.';
      counter-increment: li;
    }
  }

  > li + li {
    margin-top: 10px;
  }
}

// List icon pack
.list-icon-pack {
  margin-top: 6px;
  color: $gray;
  li {
    margin-top: 25px;

    span + span {
      margin-left: .25em;
    }
  }
}

// List meta
.list-meta-variant-1 {
  $x: 44px;
  $y: 10px;
  margin-top: 15px;
  margin-bottom: -$y;
  margin-left: -$x;
  transform: translateY(-$y);

  > *, > *:first-child {
    display: inline-block;
    vertical-align: middle;
    margin-top: $y;
    margin-left: $x;
  }

  li {
    > * {
      display: inline-block;
      vertical-align: middle;
    }

    > * + * {
      margin-left: .3em;
    }
  }

}

@include media-breakpoint-up(md) {
  .list-meta-variant-1 {
    margin-top: 25px;
  }
}

// list bordered
.list-bordered {
  li {
    padding: 13px;
  }

  a {
    &, &:active, &:focus {
      color: $gray;
    }

    &:hover {
      color: $primary;
    }
  }

  li + li {
    border-top: 1px solid $alto;
  }
}

// List links
.list-links {
  li {
    display: inline-block;
  }

  li:after {
    content: ';';
  }

  li:last-child {
    &:after {
      display: none;
    }
  }
}

.list-links-1 {
  li {
    display: inline-block;
  }

  li:after {
    content: ',';
  }

  li:last-child {
    &:after {
      display: none;
    }
  }
}

// list progress
.list-progress {
  p {
    color: $gray;
  }
  li + li {
    margin-top: 19px;
  }
}

// Post list
.post-list {
  li + li {
    margin-top: 22px;
  }
}

// Misc
// -------------------------

// Blockquotes
blockquote {
  font: inherit;
  padding: 0;
  margin: 0;
  border: 0;
  q {
    &:before,
    &:after {
      content: none;
    }
  }
  cite {
    font-style: normal;
  }
}

// Addresses
address {
  margin-top: 0;
  margin-bottom: 0;
}

// Backgrounds
// -------------------------

// Contextual backgrounds
//
%context-dark {
  &, #{headings()} {
    color: $white;
  }

  a {
    &, &:active, &:focus {
      color: $white;
    }

    &:hover {
      color: rgba( $white, .5 );
    }
  }

  hr {
    border-color: $gray;
  }
}

// Colors
.bg-black {
  @extend %context-dark;
  @include bg-variant-custom(#{$black});
}

.bg-gray-darker {
  @extend %context-dark;
  @include bg-variant-custom(#{$gray-darker});
}

.bg-gray-dark {
  @extend %context-dark;
  @include bg-variant-custom(#{$dark});
}

.bg-gray {
  @include bg-variant-custom(#{$gray});
}

.bg-accent {
  @extend %context-dark;
  @include bg-variant-custom(#{$primary});
}


.bg-light {
  position: relative;
  z-index: 1;
  background: $light;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: -1;
    width: 130vw;
    transform: translateX(-50%);
    background: $light;
  }

  .bg-light-element {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(50%) rotate(45deg);
    width: 30px;
    height: 30px;
    z-index: -2;
    pointer-events: none;
    background: $light;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      z-index: -1;
      width: 100%;
      transform: translateX(-50%);
      background: $light;

    }
  }
}

.bg-light-05 {
  background-color: rgba( $light, .5 );
}


.bg-gray-lighter {
  @include bg-variant-custom(#{$gray-lighter});
}

// Bg image
.bg-image {
  @extend %context-dark;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center top;

  &-1 {
    background-image: url('../images/bg-image-1.jpg');
  }
}

// Bg decorations

.bg-decoration-diamond {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(50%) rotate(45deg);
    width: 30px;
    height: 30px;
    background: inherit;
    z-index: 1;
    pointer-events: none;
  }
}

// Colors
// -------------------------

// Contextual colors
//

.page {
  .text-gray {
    color: $gray;
  }

  .text-silver-chalice {
    color: $silver-chalice;
  }
}

// Logo
.logo-image-inverse {
  display: none;
}

.bg-gray-dark {
  .logo-image-default {
    display: none;
  }

  .logo-image-inverse {
    display: block;
  }
}