.col-lg-4.offset-top-88.offset-md-top-0
  .row
    .col-md-6.col-lg-12.aside-list-group
      .list-item
        include _search

      .list-item
        include _archive

      .list-item
        include _recent-posts

    .col-md-6.col-lg-12.aside-list-group
      .list-item
        include _flickr
      .list-item
        include _categories
      .list-item
        include _tags