.col-lg-4.offset-top-88.offset-lg-top-0
  .row
    .col-md-6.col-lg-12.aside-list-group
      .list-item
        include _search

      .list-item
        include _archive

    .col-md-6.col-lg-12.aside-list-group
      .list-item
        include _recent-posts

      .list-item
        include _categories