h5 Categories
hr
ul.list-marked-variant-2.list-marked-gray
  li: a(href='#') Ice Maker Repair
  li: a(href='#') Stove Repair
  li: a(href='#') Appliance Parts
  li: a(href='#') Microwave Repair
  li: a(href='#') Washer Repair