h5 Recent Blog Posts
hr
ul.post-list.offset-top-22
  li
    article.post-recent
      .post-header
        h6: a(href='blog-post.html') How to Repair a Gas Range or an Electric Range
      .post-meta
      time(datetime='2023-05-28') May 28, 2023

  li
    article.post-recent
      .post-header
        h6: a(href='blog-post.html') Why You Need a Professional for Appliance Repair
      .post-meta
      time(datetime='2023-05-28') May 28, 2023

  li
    article.post-recent
      .post-header
        h6: a(href='blog-post.html') How to Repair Pipes
      .post-meta
      time(datetime='2023-05-28') May 28, 2023