h5 Search
hr
// RD Search
form.rd-search.rd-search-style-1(action="search-results.html", method="GET")
  .form-wrap
    label(for="rd-search-form-input-1" class="form-label") Search...
    input(class="form-input" id="rd-search-form-input-1" type="text" name="s" autocomplete="off")
  button.rd-search-submit.rd-submit-primary(type='submit')