.row.text-center.text-xs-start
  .col-xs-6.col-md-3
    .thumbnail-variant-1
      figure.thumbnail-image
        +jpg('about-2-270x270')
      .caption
        h6: a(href='team-member.html') Dave Wilson
        p.text-silver-chalice Roofing, Heating

  .col-xs-6.col-md-3.offset-top-35.offset-xs-top-0
    .thumbnail-variant-1
      figure.thumbnail-image
        +jpg('about-3-270x270')
      .caption
        h6: a(href='team-member.html') Peter Adams
        p.text-silver-chalice Electricity, Sewerage

  .col-xs-6.col-md-3.offset-top-35.offset-md-top-0
    .thumbnail-variant-1
      figure.thumbnail-image
        +jpg('about-4-270x270')
      .caption
        h6: a(href='team-member.html') Phillip Miller
        p.text-silver-chalice Sanitary, Renovation

  .col-xs-6.col-md-3.offset-top-35.offset-md-top-0
    .thumbnail-variant-1
      figure.thumbnail-image
        +jpg('about-5-270x270')
      .caption
        h6: a(href='team-member.html') Billy Gibson
        p.text-silver-chalice Plumbing, Painting