// Owl Carousel
.owl-carousel(data-autoplay="true" data-items='1', data-md-items='2', data-lg-items='3', data-stage-padding='15', data-loop='true', data-margin='30', data-nav='false', data-dots='true', data-dots-each='1')
  .item
    blockquote.quote-variant-1
      .quote-meta
        .unit.unit-spacing-xs.align-items-center.flex-row
          .unit-left
            figure.quote-image
              +jpg('home-12-47x47')
          .unit-body
            cite Jennifer West
            p.small Housewife
      .quote-body
        p: q.
          I just wanted to say thank you and the team very much for the brilliant service around renovating the floors at our house.

  .item
    blockquote.quote-variant-1
      .quote-meta
        .unit.unit-spacing-xs.align-items-center.flex-row
          .unit-left
            figure.quote-image
              +jpg('home-13-47x47')
          .unit-body
            cite Patrick Carlson
            p.small Web Designer
      .quote-body
        p: q.
          The floor looks magnificent and the parquet in the hall sets it off beautifully. Your men were excellent, you were delightful and nothing was too much trouble for you.

  .item
    blockquote.quote-variant-1
      .quote-meta
        .unit.unit-spacing-xs.align-items-center.flex-row
          .unit-left
            figure.quote-image
              +jpg('home-14-47x47')
          .unit-body
            cite Christine Bryant
            p.small Journalist
      .quote-body
        p: q.
          I would strongly recommend Renoxy. Our project was not the largest, but you wouldn’t have known that from the level of service and professionalism we received.