// Owl Carousel
.owl-carousel(data-items='1', data-md-items='2', data-lg-items='3', data-xl-items='4', data-stage-padding='15', data-autoplay="true", data-loop='true', data-margin='30', data-nav='false', data-dots='true', data-md-dots-each='2')
  .item
    blockquote.quote-variant-1
      .quote-meta
        .unit.unit-spacing-xs.align-items-center.flex-row
          .unit-left
            figure.quote-image
              +jpg('home-12-47x47')
          .unit-body
            cite Jennifer West
            p.small Housewife
      .quote-body
        p: q.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  .item
    blockquote.quote-variant-1
      .quote-meta
        .unit.unit-spacing-xs.align-items-center.flex-row
          .unit-left
            figure.quote-image
              +jpg('home-13-47x47')
          .unit-body
            cite Patrick Carlson
            p.small Web Designer
      .quote-body
        p: q.
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
  .item
    blockquote.quote-variant-1
      .quote-meta
        .unit.unit-spacing-xs.align-items-center.flex-row
          .unit-left
            figure.quote-image
              +jpg('home-14-47x47')
          .unit-body
            cite Christine Bryant
            p.small Journalist
      .quote-body
        p: q.
          Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

  .item
    blockquote.quote-variant-1
      .quote-meta
        .unit.unit-spacing-xs.align-items-center.flex-row
          .unit-left
            figure.quote-image
              +jpg('home-15-47x47')
          .unit-body
            cite William Wallace
            p.small Manager
      .quote-body
        p: q.
          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
  .item
    blockquote.quote-variant-1
      .quote-meta
        .unit.unit-spacing-xs.align-items-center.flex-row
          .unit-left
            figure.quote-image
              +jpg('home-12-47x47')
          .unit-body
            cite Jennifer West
            p.small Housewife
      .quote-body
        p: q.
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
  .item
    blockquote.quote-variant-1
      .quote-meta
        .unit.unit-spacing-xs.align-items-center.flex-row
          .unit-left
            figure.quote-image
              +jpg('home-15-47x47')
          .unit-body
            cite William Wallace
            p.small Manager
      .quote-body
        p: q.
          Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut.