-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,600italic,900",
		logo = {
			default: 'logo-default-432x98.png',
			inverse: 'logo-inverse-432x98.png',
			name: 'Penoxy'
		},
		links = {
			post: 'blog-post.html',
			getTemplate:'#get-template'
		},
		tabsMenu = [
			{title: 'Painting', hash: '#painting', link: 'services.html' + '#painting'},
			{title: 'Plumbing', hash: '#plumbing', link: 'services.html' + '#plumbing'},
			{title: 'Cleaning', hash: '#cleaning', link: 'services.html' + '#painting'},
			{title: 'Electricity', hash: '#electricity', link: 'services.html' + '#cleaning'},
			{title: 'Roofing', hash: '#roofing', link: 'services.html' + '#roofing'},
			{title: 'Renovation', hash: '#renovation', link: 'services.html' + '#renovation'}
		],
		menu = [
			{
				title: 'Home',
				link: 'index.html'
			},
			{ title: 'About us' },
			{ title: 'Services' },
			{
				title: 'Pages',
				link: null,
				megamenu: [
					{
						title: 'Pages 1',
						list: [
							{ title: '404' },
							{ title: 'Coming soon' },
							{ title: 'Under construction' }
						]
					},
					{
						title: 'Pages 2',
						link: null,
						list: [
							{ title: 'Appointment' },
							{ title: 'Careers' },
							{ title: 'Clients' }
						]
					},
					{
						title: 'Pages 3',
						link: null,
						list: [
							{ title: 'FAQ' },
							{ title: 'Team' },
							{ title: 'Team member' }
						]
					},
					{
						title: 'Pages 4',
						link: null,
						list: [
							{ title: 'Partners' },
							{ title: 'Pricing' },
							{ title: 'Privacy policy' }
						]
					}
				]
			},
			{
				title: 'Gallery',
				link: 'gallery.html'
			},
			{
				title: 'Blog',
				link: 'blog.html',
				dropdown: [
					{
					title: 'Blog post',
					link: links.post
					}
				]
			},
			{
				title: 'Contacts'
			}
		],

		// Predefined variables
		breadcrumbs = [],
		pageClass,
		bodyClass,
		pageName = 'Home'
